<template>
    <v-container fluid class="pa-0">
        <v-list two-line>
            <v-list-group
                    v-for="(modules, moduleType) in availableModules"
                    :key="moduleType"
                    no-action>
                <template v-slot:activator>
                    <v-list-item>
                        <v-list-item-action>
                            <font-awesome-icon :icon="moduleTypeTranslated(moduleType).icon"></font-awesome-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>{{ moduleTypeTranslated(moduleType).description }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
                <v-list-item
                        v-for="moduleDefinition in modules"
                        :key="moduleDefinition.module"
                        @click="addModuleStart(moduleDefinition)">
                    <v-list-item-content>
                        <v-list-item-title>{{ moduleDefinition.name }}</v-list-item-title>
                        <v-list-item-subtitle>{{ moduleDefinition.description }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>
        </v-list>
        <v-dialog v-model="showDialog" max-width="500" eager>
            <module-add-component :configuration="moduleStartConfiguration" @module-add-close="closeDialog()"></module-add-component>
        </v-dialog>
    </v-container>
</template>

<script>
    import EventBus from '@/core/EventBus';
    import ModuleService from '@/core/services/ModuleService';

    import ModuleAddComponent from './components/ModuleAddComponent';

    export default {
        name: "moduleAdd",
        data() {
            return {
                contentRefreshable: true,
                availableModules: Object,
                showDialog: false,
                moduleStartConfiguration: this.defaultConfiguration()
            }
        },
        mounted() {
            this.listAvailableModules()
            let self = this;
            EventBus.$on('content', (event) => {
                if(event === 'refresh'){
                    self.listAvailableModules();
                }
            });
            EventBus.$on('module-add-close', () => {
                self.$data.moduleStartConfiguration = this.defaultConfiguration();
                self.$data.showDialog = false;
            });
        },
        beforeDestroy() {
            EventBus.$off('content');
            EventBus.$off('module-add-close');
        },
        components: {
            ModuleAddComponent
        },
        methods: {
            defaultConfiguration(){
                return {
                    moduleDefinition: Object,
                    moduleConfiguration: Object,
                    peripheral: Object,
                    driverDefinition: Object,
                    driverConfiguration: Object
                };
            },
            listAvailableModules(){
                let self = this;
                self.$data.hardware = {};
                ModuleService.getAvailableModules()
                    .then(modules => {
                        self.$data.availableModules = modules;
                    });
            },
            moduleTypeTranslated(moduleType){
                return ModuleService.moduleTypeTranslator(moduleType);
            },
            addModuleStart(moduleDefinition){
                let defaultConfig = ModuleService.moduleDefaultEmptyConfiguration();
                defaultConfig.moduleDefinition = moduleDefinition;
                this.$data.moduleStartConfiguration = defaultConfig.moduleDefinition;
                this.$data.showDialog = true;
            },
            closeDialog(){
                this.$data.showDialog = false;
                this.$data.moduleStartConfiguration = ModuleService.moduleDefaultEmptyConfiguration();
            }
        }
    }
</script>
