<template>
    <v-container fluid class="pa-0">
        <v-list two-line>
            <template v-for="(module, index) in activeList">
                <v-list-item v-bind:key="index" @click="openDetails(module)">
                    <v-list-item-content>
                        <v-list-item-title>{{ module.moduleDefinition.name }}</v-list-item-title>
                        <v-list-item-subtitle>'{{ module.driverDefinition.name }}' on '{{ module.peripheralName }}'</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </template>
        </v-list>
        <v-dialog v-model="showDetails" max-width="500" :scrollable="true">
            <v-card>
                <v-card-title class="headline" v-if="moduleDefinition">{{ moduleDefinition.name }}</v-card-title>
                <v-card-subtitle v-if="moduleDefinition">
                    <v-layout wrap>
                        <v-flex xs12>{{ moduleDefinition.description }}</v-flex>
                        <v-flex xs5>Started at</v-flex><v-flex xs7>{{started }}</v-flex>
                    </v-layout>
                </v-card-subtitle>
                <v-card-text class="pt-0">
                    <v-tabs v-model="activeTab" grow>
                        <v-tab :key="0">Module info</v-tab>
                        <v-tab :key="1">Additional info</v-tab>
                        <v-tab-item>
                            <v-card-text>
                                <module-info :presentation="moduleInfo"/>
                            </v-card-text>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card-text>
                                <h3>Module package info</h3>
                                <v-layout wrap>
                                    <v-flex xs5>Package</v-flex><v-flex xs7>{{ modulePackage.packageName }}</v-flex>
                                    <v-flex xs5>Version</v-flex><v-flex xs7>{{ modulePackage.packageVersion }}</v-flex>
                                    <v-flex xs5>Provides</v-flex><v-flex xs7>{{ returnModuleType( moduleDefinition.moduleType).description }}</v-flex>
                                </v-layout>
                                <h3>Hardware and driver package info</h3>
                                <v-layout wrap>
                                    <v-flex xs5>Hardware</v-flex><v-flex xs7>{{ peripheralName }}</v-flex>
                                    <v-flex xs5>Package</v-flex><v-flex xs7>{{ driverPackage.packageName }}</v-flex>
                                    <v-flex xs5>Version</v-flex><v-flex xs7>{{ driverPackage.packageVersion }}</v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-tab-item>
                    </v-tabs>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="stopModule(containerId)">Stop module</v-btn>
                    <v-btn color="primary" @click="showDetails = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import EventBus from '@/core/EventBus';
    import ModuleService from '@/core/services/ModuleService';
    import Presentation from '@/core/components/presentation/Presentation';

    export default {
        name: "modules",
        data() {
            return {
                contentRefreshable: true,
                activeList: Array,
                showDetails: false,
                /// details
                moduleDefinition: Object,
                modulePackage: Object,
                driverDefinition: Object,
                driverPackage: Object,
                peripheralName: String,
                started: String,
                containerId: String,
                moduleInfo: Object,
                activeTab: 0
            }
        },
        components: {
            'module-info' : Presentation
        },
        mounted() {
            this.getActiveModules();
            let self = this;
            EventBus.$on('content', (event) => {
                if(event === 'refresh.content' || event === 'refresh.modules'){
                    self.getActiveModules();
                }
            });
        },
        beforeDestroy() {
            EventBus.$off('content');
        },
        methods: {
            stopModule(id){
                let self = this;
                EventBus.$emit("content.wait", true);
                ModuleService.stopModule(id).finally(() => {
                    self.getActiveModules();
                    self.$data.showDetails = false;
                });
            },
            getActiveModules(){
                let self = this;
                 ModuleService.getActiveModules().then( modules => {
                     self.$data.activeList = modules;
                 });
            },
            openDetails(module){
                this.$data.containerId = module.id;
                this.$data.moduleDefinition = module.moduleDefinition;
                this.$data.modulePackage = module.moduleDefinition.providedBy;
                this.$data.driverDefinition = module.driverDefinition;
                this.$data.driverPackage = module.driverDefinition.providedBy;
                this.$data.peripheralName = module.peripheralName;
                this.$data.started = module.started;
                let self = this;
                ModuleService.getModuleInfo(module.id).then(data => {
                    self.$data.activeTab= 0;
                    self.$data.moduleInfo = data;
                    this.$data.showDetails = true;
                });
            },
            returnModuleType(type){
                return ModuleService.moduleTypeTranslator(type);
            }
        }
    }
</script>

<style scoped>

</style>
