<template>
    <v-list-item>
        <v-list-item-content @click="openDetails(itemMeta)">
            <v-list-item-title>{{ itemMeta.name }}</v-list-item-title>
        </v-list-item-content>
        <template  v-for="(control, index) in shortcutList">
            <v-list-item-action v-bind:key="index">
                <component v-bind:key="index"
                           :is="controlName(control.control.controlType)"
                           :publishId="control.publishId"
                           :control="control.control"
                           :groupId="control.group.id"
                           :deviceId="itemMeta.id">
                </component>
            </v-list-item-action>
        </template>
    </v-list-item>
</template>

<script>

    import { TextTools } from '@/core/helpers/TextTools';
    /// Controls
    import ToggleControl from './controls/ToggleControl';
    import DataNumberControl from './controls/DataNumberControl';

    export default {
        name: "DeviceRowView",
        data() {
            return {
                shortcutList: [],
            }
        },
        props: {
            itemMeta: Object
        },
        components: {
            'ToggleControl': ToggleControl,
            'DataNumberControl':DataNumberControl
        },
        mounted() {
            let returnList= [];
            let deviceId = this.$props.itemMeta.id;
            if({}.hasOwnProperty.call(this.$props.itemMeta.item, 'groups')){
                let item = this.$props.itemMeta.item;
                for (let groupIndex in item.groups){
                    let group = item.groups[groupIndex];
                    if({}.hasOwnProperty.call(group, 'controls')){
                        for(let controlIndex in group.controls){
                            let control = group.controls[controlIndex];
                            if(control.shortcutSlot > 0) {
                                let publishId = deviceId + '_' + group.id + '_' + control.id;
                                returnList.push({publishId: publishId, group: group, control: control});
                            }
                        }
                    }
                }
            }
            returnList.sort( this.sortByShortcutSlot );
            this.$data.shortcutList = returnList;
        },
        methods: {
            controlName(fieldName) {
                return TextTools.camelCaseToClassFieldType(fieldName) + 'Control';
            },
            sortByShortcutSlot( control1, control2 ) {
                if ( control1.control.shortcutSlot < control2.control.shortcutSlot ){
                    return -1;
                }else if ( control1.control.shortcutSlot > control2.control.shortcutSlot ){
                    return 1;
                } else {
                    return 0;
                }
            }//,
            //openDetails(device){
                /// Open details of a device.
            //}
        }
    }
</script>

<style scoped>

</style>
