<template>
    <v-container fluid class="pa-0">
    </v-container>
</template>

<script>
    export default {
        name: "HardwareInterfaceDevicesList",
        props: {
            loadedInterfaceData: []
        }
    }
</script>

<style scoped>

</style>
