<template>
    <v-container fluid class="pa-0">
        <v-list two-line>
            <template v-for="(items, hardwareInterface) in hardware">
                <v-list-item :key="hardwareInterface" @click="hardwareClicked(hardwareInterface)">
                    <v-list-item-avatar>
                        <v-img src="/assets/images/logo.png"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title>{{ hardwareInterface }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-divider v-bind:key="hardwareInterface"></v-divider>
            </template>
        </v-list>
    </v-container>
</template>

<script>
    import HardwareService from '@/core/services/HardwareService';

    export default {
        name: "HardwareList",
        data() {
            return {
                hardware: []
            };
        },
        mounted() {
            let self = this;
            HardwareService.getCurrentHardware()
                .then(hardwareObject => {
                    self.$data.hardware = hardwareObject.data;
                });
        },
        methods: {
            hardwareClicked(hardwareInterface) {
                this.$emit('hardwarelist-hardware-clicked', hardwareInterface);
            }
        }
    }
</script>
