<template>
    <font-awesome-icon :icon="icon" class="v-icon" transform="shrink-6" v-bind:color="iconColor"></font-awesome-icon>
</template>

<script>
    import { library } from '@fortawesome/fontawesome-svg-core'
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
    import { fas } from '@fortawesome/free-solid-svg-icons';
    import { fab } from '@fortawesome/free-brands-svg-icons';

    library.add(fas, fab);

    import { store } from '@/store/index';

    export default {
        name: 'fontawesomeicon',
        inject: ['theme'],
        data: function () {
            return {
                isDark: store.state.Application.darkTheme
            };
        },
        computed: {
            iconColor() {
                if(this.$props.color != undefined){
                    return this.$props.color;
                } else {
                    return store.state.Application.darkTheme ? 'rgb(255,255,255)' : 'rgba(0,0,0,0.54)';
                }
            }
        },
        props: {
            icon: undefined,
            color: String
        },
        components: {
            FontAwesomeIcon
        }
    }
</script>
