<template>
    <div>
        <component v-for="(section, index) in inputForm.sections"
                                       :key="index"
                                       :is="genericSection"
                                       :section="section"
                                        :editable="editable">
        </component>
    </div>
</template>

<script>
    import InputSection from './inputform/InputSection';

    export default {
        name: "InputForm",
        data() {
            return {
                genericSection: 'InputSection'
            }
        },
        props: {
            editable: Boolean,
            inputForm: undefined
        },
        components: {
            'InputSection' : InputSection
        }
    }
</script>
