<template>
    <div>
        <h3 v-if="presentation.title">{{ presentation.title }}</h3>
        <p v-if="presentation.description">{{ presentation.description }}</p>
        <template v-if="presentation.sections">
            <component v-for="(section, index) in presentation.sections"
                       :key="index"
                       :is="fieldNaming(section.type)"
                       :section="section">
            </component>
        </template>
    </div>
</template>

<script>

    import { TextTools } from '@/core/helpers/TextTools'
    import DescriptionList from './sections/DescriptionList';

    export default {
        name: "Presentation",
        props: {
            presentation: undefined
        },
        components: {
            'DescriptionList': DescriptionList
        },
        methods: {
            fieldNaming(fieldName){
                return TextTools.camelCaseToClassFieldType(fieldName);
            }
        }
    }
</script>

<style scoped>

</style>
