<template>
    <v-container fluid class="pa-0">
        <v-list two-line>
            <template v-for="(hardwareItem, index) in hardware">
                <v-list-item :key="index" @click="hardwareClicked(hardwareItem)">
                    <v-list-item-avatar>
                        <font-awesome-icon :icon="getIcon(hardwareItem.hardwareInterface)" :color="getDeviceActiveColor(hardwareItem.active)"></font-awesome-icon>
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title>{{ hardwareItem.friendlyName }}</v-list-item-title>
                        <v-list-item-subtitle>Port: {{ hardwareItem.port }}, {{hardwareItem.active ? 'configured and active' : 'not active'}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-divider v-bind:key="hardwareItem.deviceKey"></v-divider>
            </template>
        </v-list>
        <v-dialog v-model="hardwareDetailsDialog" max-width="500" :scrollable="true">
            <v-card>
                <v-card-title class="headline">Hardware details</v-card-title>
                <v-card-text class="pt-0 pb-0">
                    <form v-on:submit.prevent>
                        <v-layout wrap v-if="!selectedHardwareIsActive">
                            <v-flex xs12>
                                <v-select
                                        :items="driversList"
                                        label="Select driver"
                                        return-object
                                        item-text="name"
                                        item-value="driver"
                                        :value="defaultDriver"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                        <inputform :inputForm="hardwareFormData" :editable="!selectedHardwareIsActive"></inputform>
                    </form>
                    <Presentation v-if="hardwareStatsData" :presentation="hardwareStatsData"></Presentation>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="hardwareDetailsDialog = false" color="secondary">
                        Cancel
                    </v-btn>
                    <v-btn @click="startHardware()" color="primary" v-if="!selectedHardwareIsActive">
                        Start
                    </v-btn>
                    <v-btn @click="stopHardware()" color="error" v-if="selectedHardwareIsActive">
                        Stop
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>

    import HardwareService from '@/core/services/HardwareService';
    import { HardwareIconHelper } from '@/core/helpers/HardwareIconHelper';
    import InputForm from '@/core/components/presentation/InputForm';
    import Presentation from '@/core/components/presentation/Presentation';
    import colors from 'vuetify/lib/util/colors';
    import EventBus from '@/core/EventBus';

    export default {
        data() {
            return {
                isMobile: false,
                hardware: [],
                hardwareFormData: Object,
                hardwareStatsData: undefined,
                hardwareDetailsDialog: false,
                driversList: [],
                defaultDriver: Object,
                currentPackage: String,
                selectedHardwareIsActive: false,
                contentRefreshable: true,
                currentHardwareItem: Object,
                currentDriver: String
            };
        },
        beforeMount: function () {
            this.setIsMobile();
        },
        mounted() {
            this.listCurrentHardware();
            let self = this;
            EventBus.$on('content', (event) => {
                if(event === 'refresh.content' || event === 'refresh.hardware'){
                    self.listCurrentHardware();
                }
            });
        },
        beforeDestroy() {
            EventBus.$off('content');
        },
        components: {
            'inputform' : InputForm,
            'Presentation': Presentation
        },
        methods: {
            getDeviceActiveColor(isActive) {
                if (isActive) {
                    return colors.lightGreen.base;
                } else {
                    return undefined;
                }
            },
            listCurrentHardware(){
                let self = this;
                self.$data.hardware = [];
                HardwareService.getCurrentHardware()
                    .then(hardwareObject => {
                        self.$data.hardware = [];
                        if(Object.keys(hardwareObject).length > 0){
                            for(let hardwareInterface in hardwareObject){
                                for(let hardwareItem in hardwareObject[hardwareInterface].connectedPeripherals){
                                    self.$data.hardware.push(hardwareObject[hardwareInterface].connectedPeripherals[hardwareItem]);
                                }
                            }
                        }
                    });
            },
            stopHardware(){
                let self = this;
                self.$data.hardwareDetailsDialog = false;
                EventBus.$emit("content.wait", true);
                HardwareService.stopHardware(this.$data.currentHardwareItem.volatileId).then(stopResult => {
                    if(stopResult.success === true){
                        self.listCurrentHardware();
                    }
                });
            },
            startHardware(){
                let self = this;
                EventBus.emit("content.wait", true);
                HardwareService.startHardware(
                    this.$data.currentHardwareItem.volatileId,
                    this.$data.currentDriver.id,
                    this.$data.hardwareFormData).then(startResult => {
                        if(startResult.success === true){
                            self.listCurrentHardware();
                        }
                });
                this.$data.hardwareDetailsDialog = false;
            },
            getIcon(icon){
                return HardwareIconHelper.icon(icon);
            },
            hardwareClicked(hardwareItem){
                this.$data.hardwareStatsData = undefined;
                this.$data.selectedHardwareIsActive = hardwareItem.active;
                this.$data.driversList = [];
                this.$data.currentHardwareItem = hardwareItem;
                let self = this;
                if(!hardwareItem.active) {
                    let candidates = HardwareService.getCurrentHardwareDeviceDriverCandidates(hardwareItem.volatileId);
                    candidates.then(candidatesPromise => {
                        let candidatesData = candidatesPromise.data;
                        if (candidatesData != null && Object.keys(candidatesData).length > 0) {
                            for (let driver in candidatesData) {
                                self.$data.driversList.push(candidatesData[driver]);
                            }
                            self.$data.defaultDriver = self.$data.driversList[0].driver;
                            self.constructForm(hardwareItem, self.$data.driversList[0]);
                        }
                    });
                } else {
                    let result = HardwareService.getCurrentHardwareDevice(hardwareItem.hardwareInterface, hardwareItem.key);
                    result.then( promised => {
                        self.$data.currentHardwareInterface = hardwareItem.hardwareInterface;
                        self.$data.currentHardwareKey = hardwareItem.key;
                        self.$data.hardwareFormData = promised.data.driver.configuration;
                        self.$data.hardwareStatsData = promised.data.driver.dataInfo;
                        self.$data.hardwareDetailsDialog = true;
                    });
                }
            },
            constructForm(hardwareItem, driverDefinition){
                let self = this;
                let result = HardwareService.getCurrentHardwareDeviceDriverSettings(hardwareItem.volatileId, driverDefinition.id);
                result.then( promised => {
                    self.$data.currentDriver = driverDefinition;
                    self.$data.hardwareFormData = promised.data;
                    self.$data.hardwareDetailsDialog = true;
                });
            },
            setIsMobile() {
                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                    case 'sm':
                        this.$data.isMobile = true;
                        break;
                    default:
                        this.$data.isMobile = false;
                        break;
                }
            }
        }
    }
</script>
