<template>
    <v-container fluid class="pa-0">
        <v-list>
            <template v-for="(itemMeta, index) in itemList">
                <component v-bind:key="index"
                           :is="componentName(itemMeta.item.type)"
                           :itemMeta="itemMeta">
                </component>
            </template>
        </v-list>
    </v-container>
</template>

<script>

    import { TextTools } from '@/core/helpers/TextTools'
    import EventBus from '@/core/EventBus';
    import ItemService from '@/core/services/ItemService';
    /// Import the required views.
    import DeviceRowView from './components/devices/DeviceRowView';

    //// Helpers
    import { ItemsDeviceHelper } from "../../core/services/helpers/items/ItemsDeviceHelper";

    export default {
        name: "Items.vue",
        data() {
            return {
                contentRefreshable: true,
                itemList: []
            }
        },
        mounted() {
            this.getItems();
            let self = this;
            EventBus.$on('content', (event) => {
                if(event === 'refresh.items'){
                    self.getItems();
                }
            });
            EventBus.$on('item.notify', (event) => {
                self.updateItemData(event);
            });
        },
        beforeDestroy() {
            EventBus.$off('item.notify');
            EventBus.$off('content');
        },
        components: {
            'DeviceRowView':DeviceRowView
        },
        methods: {
            updateItemData(updateData){
                if({}.hasOwnProperty.call(updateData, 'dataNotification')) {
                    switch(updateData.dataNotification.itemType){
                        case 'DEVICE':
                            ItemsDeviceHelper.updateDeviceData(this.walkItemTreeAndReturnTypes(updateData.dataNotification.itemType), updateData);
                            break;
                        default:
                            console.error("Invalid type, or type not live: " + updateData.dataNotification.itemType);
                            break;
                    }
                }
            },
            walkItemTreeAndReturnTypes(itemType){
                let returnItems = [];
                for(let i = 0; i < this.itemList.length; i++){
                    if(this.itemList[i].item.type === itemType){
                        let item = this.itemList[i].item;
                        item['id'] = this.itemList[i].id;
                        returnItems.push(this.itemList[i].item);
                    }
                }
                return returnItems;
            },
            getItems(){
                ItemService.getItems().then(items => {
                    this.$data.itemList = items;
                });
            },
            componentName(fieldName){
                return TextTools.camelCaseToClassFieldType(fieldName) + 'RowView';
            }
        }
    }
</script>

<style scoped>

</style>
