<template>
    <v-container fluid>
        <v-layout column>
            <v-flex xs12 class="text-xs-center" mt-5>
                <h1>Dashboard</h1>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {}
</script>
