<template>
    <v-dialog @keydown.esc="close" v-model="showErrorDialog" justify-center content max-width="600">
        <v-card :elevation="12">
            <v-toolbar dense dark color="error">
                <v-toolbar-title>{{ errorTitle }}</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-container fill-height>
                    <v-layout row align-center>
                        <v-flex xs2>
                            <v-icon x-large color="error">warning</v-icon>
                        </v-flex>
                        <v-flex xs10>
                            <v-flex xs12 v-html="errorText"></v-flex>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-divider></v-divider>
                <v-layout no-wrap>
                    <v-flex xs11 class="grey--text text--lighten-1">
                        {{ errorUrl }}
                    </v-flex>
                    <v-flex xs1 class="red--text text--lighten-1" justify-right>
                        {{ errorCode }}
                    </v-flex>
                </v-layout>
                <v-expansion-panels v-if="hasStackTrace">
                    <v-expansion-panel>
                        <v-expansion-panel-header>Stacktrace</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <strong class="red--text text--lighten-1">Message: {{ stackMessage }}</strong><br/><br/>
                            <strong class="red--text text--lighten-1">Cause: {{ stackCause }}</strong><br/><br/>
                            <div v-for="(stackItem, index) in stacktrace" v-bind:key="index">
                                at <strong class="indigo--text text--darken-2">{{ stackItem.className }}.{{ stackItem.methodName }}(</strong>{{ stackItem.fileName }}:{{ stackItem.lineNumber }}<strong class="indigo--text text--darken-2">)</strong><br/>
                            </div>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="default" @click="errorToClipboard"><span v-if="!hasStackTrace">Copy error</span><span v-if="hasStackTrace">Copy trace</span></v-btn>
                <v-btn color="default" @click="logout" v-if="isAuthError">Logout</v-btn>
                <v-btn color="default" @click="close">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>

    import UserService from '@/core/services/UserService';

    export default {
        name: 'error-popup',
        data: function () {
            return {
                showErrorDialog: false,
                errorTitle: "",
                errorText: "",
                errorCode: 0,
                hasStackTrace: false,
                isAuthError: false,
                stacktrace: [],
                stackMessage: String,
                errorUrl: "",
                stackCause: ""
            };
        },
        methods: {
            close() {
                this.$data.showErrorDialog = false;
                this.$data.errorText = '';
                this.$data.errorTitle = '';
                this.$data.hasStackTrace = false;
                this.$data.stacktrace = [];
                this.$data.stackCause= "";
            },
            showError(title, text, isAuthError = false) {
                this.$data.errorTitle = title;
                this.$data.errorText = text;
                this.$data.isAuthError = isAuthError;
                this.$data.showErrorDialog = true;
            },
            showRestError(title, restError, replaceMessage) {
                if (restError !== undefined && {}.hasOwnProperty.call(restError, "config") && {}.hasOwnProperty.call(restError.config, "url")) {
                    this.$data.errorUrl = restError.config.url;
                }
                if (restError === undefined || restError.response === undefined) {
                    this.$data.errorTitle = "Network/Server error";
                    this.$data.errorText = "<p>Server communication error</p>" +
                            "<ul>" +
                            "<li>The server is down</li>" +
                            "<li>The connection data entered is incorrect (ip/host and or port)</li>" +
                            "<li>The server is secure, but the certificate is not accepted.</li>" +
                            "</ul>";
                } else {
                    this.$data.errorCode = restError.response.status;
                    if (replaceMessage !== undefined) {
                        this.$data.errorText = replaceMessage;
                    } else if ({}.hasOwnProperty.call(restError.response, "data") && {}.hasOwnProperty.call(restError.response.data, "message")) {
                        this.$data.errorText = restError.response.data.message;
                    } else {
                        this.$data.errorText = restError.response.statusText;
                    }
                    if ({}.hasOwnProperty.call(restError.response, "data") && {}.hasOwnProperty.call(restError.response.data, "details") && {}.hasOwnProperty.call(restError.response.data.details, "stackTrace")) {
                        this.$data.hasStackTrace = true;
                        if({}.hasOwnProperty.call(restError.response.data.details, "localizedMessage")) {
                            this.$data.stackMessage = restError.response.data.details.localizedMessage;
                        } else {
                            this.$data.stackMessage = this.$data.errorText;
                        }
                        if({}.hasOwnProperty.call(restError.response.data.details, "cause")) {
                            if(restError.response.data.details.cause == null){
                                this.$data.stackCause = 'null';
                            } else {
                                this.$data.stackCause = restError.response.data.details.cause;
                            }
                        } else {
                            this.$data.stackCause = 'Unknown';
                        }
                        this.$data.stacktrace = restError.response.data.details.stackTrace;
                    }
                    this.$data.errorTitle = title;
                }
                this.$data.showErrorDialog = true;
            },
            logout() {
                UserService.logout();
            },
            errorToClipboard() {
                let el = document.createElement('textarea');
                el.value =  "URL: " + this.$data.errorUrl +
                    "\n\nMessage: " + this.$data.errorText +
                    (this.$data.hasStackTrace ? "\n\nCause: " + this.$data.stackCause : '') +
                    (this.$data.hasStackTrace ? "\n\nStacktrace:\n" + JSON.stringify(this.$data.stacktrace, null, 2) : '');
                el.setAttribute('readonly', '');
                el.style = {position: 'absolute', left: '-9999px'};
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
            }
        }
    }
</script>
