<template>
    <v-container fluid class="pa-0">
        <template v-if="builderConfiguration.builderType === 'PROVIDED'">
            <ComposedDeviceBuilder @onSave="saveComposedDevice" :builderData="builderConfiguration" />
        </template>
    </v-container>
</template>

<script>

    import BuilderService from "@/core/services/BuilderService";
    import ComposedDeviceBuilder from "./DeviceBuilder/ComposedDeviceBuilder";

    export default {
        name: "DeviceBuilder",
        data(){
            return {
                builderConfiguration: Object
            }
        },
        beforeMount(){
            if(this.$route.params['discoveredId'] !== undefined){
                this.retrieveFromDiscovered(this.$route.params['discoveredId']);
            }
        },
        components :{
            'ComposedDeviceBuilder' : ComposedDeviceBuilder
        },
        methods: {
            retrieveFromDiscovered(discoveredId){
                let me = this;
                BuilderService.getBuilderDataFromDiscovered(discoveredId).then(builderConfiguration => {
                    me.$data.builderConfiguration = builderConfiguration;
                });
            },
            saveComposedDevice(builderData){
                let sendConfig = {
                    packageId: this.$data.builderConfiguration.packageId,
                    itemClass: this.$data.builderConfiguration.deviceClass,
                    deviceGroups: builderData.groups,
                    deviceParameters: this.$data.builderConfiguration.deviceParameters,
                    address: this.$data.builderConfiguration.deviceAddress,
                    containerId: this.$data.builderConfiguration.deviceContainerId,
                    name: builderData.typeName,
                    definitionType: 'DEVICE',
                    description: builderData.typeDescription
                };
                BuilderService.createDeviceDefinition(sendConfig).then(result => {
                    if(this.$route.params['discoveredId'] !== undefined){
                        this.$router.push({
                                name: 'discoveryPredefinedItemDefinition',
                                params: {
                                    discoveredItem: this.$route.params['discoveredId'],
                                    discoveredItemDefinition: result
                                }
                        });
                    } else {
                        console.log(result);
                    }
                });
            }
        },
    }
</script>

<style scoped>

</style>
