<template>
    <v-list-item :to="menuItem.path">
        <v-list-item-action>
            <v-icon>{{ menuItem.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-title>{{ menuItem.title }}</v-list-item-title>
    </v-list-item>
</template>
<script>

    export default {
        name: 'navigation-main-menu-item-drawer',
        props: ['item'],
        data: function () {
            return {
                menuItem: this.item
            };
        }
    }

</script>
