<template>
    <v-list-group no-action sub-group value="true">
        <template v-slot:activator>
            <v-list-item>
                <v-list-item-title>{{ menuItem.title }}</v-list-item-title>
            </v-list-item>
        </template>
        <template v-for="(menuItem, index) in menuItem.submenuItems">
            <navigation-sub-menu-item-drawer v-bind:deepSub="true" v-bind:item="menuItem" v-if="!menuItem.hasOwnProperty('submenuItems')" v-bind:key="index"></navigation-sub-menu-item-drawer>
        </template>
    </v-list-group>
</template>
<script>

    import NavigationSubMenuItemDrawer from '@/core/components/navigation/NavigationSubMenuItemDrawer.vue';

    export default {
        name: 'navigation-sub-menu-group-item-drawer',
        props: ['item'],
        data: function () {
            return {
                menuItem: this.item
            };
        },
        components: {
            NavigationSubMenuItemDrawer
        }
    }

</script>
