<template>
    <v-list-group prepend-icon="settings">
        <template v-slot:activator>
            <v-list-item>
                <v-list-item-title>{{ menuItem.title }}</v-list-item-title>
            </v-list-item>
        </template>
        <template v-for="(menuItem, index) in menuItem.submenuItems">
            <navigation-sub-menu-item-drawer v-bind:item="menuItem" v-if="!menuItem.hasOwnProperty('submenuItems')" v-bind:key="index"></navigation-sub-menu-item-drawer>
            <navigation-sub-menu-group-item-drawer v-bind:item="menuItem" v-if="menuItem.hasOwnProperty('submenuItems')" v-bind:key="index"></navigation-sub-menu-group-item-drawer>
        </template>
    </v-list-group>
</template>
<script>

    import NavigationSubMenuItemDrawer from '@/core/components/navigation/NavigationSubMenuItemDrawer.vue';
    import NavigationSubMenuGroupItemDrawer from '@/core/components/navigation/NavigationSubMenuGroupItemDrawer.vue';

    export default {
        name: 'navigation-main-menu-group-item-drawer',
        props: ['item'],
        data: function () {
            return {
                menuItem: this.item
            };
        },
        components: {
            NavigationSubMenuItemDrawer,
            NavigationSubMenuGroupItemDrawer
        }
    }

</script>
