<template>
    <v-menu bottom left>
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-badge overlap v-model="hasMessages">
                    <template v-slot:badge>
                        <span>3</span>
                    </template>
                    <v-avatar size="36">
                        <v-img src="/assets/images/logo.png"></v-img>
                    </v-avatar>
                </v-badge>
            </v-btn>
        </template>
        <v-list>
            <template v-for="(menuItem, index) in menuItems">
                <v-list-item :to="menuItem.path" v-if="!menuItem.devider" v-bind:key="index">
                    <v-list-item-avatar><v-icon>{{ menuItem.icon }}</v-icon></v-list-item-avatar>
                    <v-list-item-title>{{ menuItem.title }}</v-list-item-title>
                </v-list-item>
                <v-divider v-if="menuItem.devider" v-bind:key="index"></v-divider>
            </template>
            <v-divider></v-divider>
            <v-list-item @click="logout">
                <v-list-item-avatar><v-icon>power_settings_new</v-icon></v-list-item-avatar>
                <v-list-item-title>Logout</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</template>
<script>
    import UserService from '@/core/services/UserService';
    export default {
        name: 'navigation-user-component',
        props: {
            personalMenu: Array
        },
        data: function () {
            return {
                menuItems: this.personalMenu,
                hasMessages: false
            }
        },
        methods: {
            logout() {
                UserService.logout();
            }
        }
    }
</script>
