<template>
    <v-list-item :to="menuItem.path">
        <v-list-item-action v-if="!isDeepSub"></v-list-item-action>
        <v-list-item-content>
            <v-list-item-title>{{ menuItem.title }}</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
            <v-icon v-if="!menuItem.fa">{{ menuItem.icon }}</v-icon>
            <font-awesome-icon v-if="menuItem.fa" :icon="menuItem.icon"></font-awesome-icon>
        </v-list-item-action>
    </v-list-item>
</template>
<script>

    export default {
        name: 'navigation-sub-menu-item-drawer',
        props: {
            item: Object,
            deepSub: Boolean
        },
        data: function () {
            return {
                menuItem: this.item,
                isDeepSub: this.deepSub
            };
        }
    }

</script>
