<template>
    <div>
        <template v-if="section.collapsible">
            <v-expansion-panel class="mt-2">
                <v-expansion-panel-content :value="section.collapsibleOpen">
                    <template v-slot:header>
                        <h4 v-if="section.name" class="pt-2">{{ section.name }}</h4>
                    </template>
                    <div class="pl-4 pb-4">
                        <p v-if="section.description" class="pb-0">{{ section.description }}</p>
                        <v-layout wrap v-for="(item, index) in section.listItems" v-bind:key="index">
                            <v-flex xs6>
                                {{ item.dt }}
                            </v-flex>
                            <v-flex xs6>
                                {{ item.dd != null ? item.dd : '' }}
                            </v-flex>
                        </v-layout>
                    </div>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </template>
        <template v-if="!section.collapsible">
            <h4 v-if="section.name" class="pt-2">{{ section.name }}</h4>
            <p v-if="section.description" class="pb-0">{{ section.description }}</p>
            <v-layout wrap v-for="(item, index) in section.listItems" v-bind:key="index">
                <v-flex xs5>
                    {{ item.dt }}
                </v-flex>
                <v-flex xs7>
                    {{ item.dd != null ? item.dd : '' }}
                </v-flex>
            </v-layout>
        </template>
    </div>
</template>

<script>
    export default {
        name: "DescriptionList",
        props: {
            section: undefined
        }
    }
</script>

<style scoped>

</style>
