<template>
    <v-text-field
            prepend-icon="mdi-network-outline"
            v-validate="'required|decimal'"
            data-vv-name="address"
            @input="$emit('update:address', $event)"
            :error-messages="errors.collect('value')"
            :value="value"
            :hint="description"
            :label="label"
            required
            clearable
    ></v-text-field>
</template>

<script>
    export default {
        name: "FloatAddress",
        props: {
            label: String,
            description: String,
            value: String
        },
        inject: {
            $validator: '$validator'
        },
        $_veeValidate: {
            value() {
                return this.value;
            }
        }
    }
</script>

<style scoped>

</style>
