<template>
    <v-text-field
        prepend-icon="mdi-ip-network-outline"
        v-validate="'ip_or_fqdn|required'"
        data-vv-name="address"
        @input="$emit('update:address', $event)"
        :error-messages="errors.collect('value')"
        :label="label"
        :hint="description"
        :value="value"
        required
        clearable
        ></v-text-field>
</template>

<script>
    export default {
        name: "IpAddress",
        props: {
            label: String,
            description: String,
            value: String
        },
        inject: {
            $validator: '$validator'
        },
        $_veeValidate: {
            value() {
                return this.value;
            }
        }
    }
</script>
