<template>
    <v-text-field
        prepend-icon="mdi-network-outline"
        v-validate="'required'"
        data-vv-name="address"
        @input="$emit('update:value', $event)"
        :error-messages="errors.collect('address')"
        :value="value"
        :hint="description"
        :label="label"
        required
        clearable
    ></v-text-field>
</template>

<script>
    export default {
        name: "StringAddress",
        props: {
            label: String,
            description: String,
            value: String
        },
        inject: {
            $validator: '$validator'
        },
        $_veeValidate: {
            value() {
                return this.value;
            }
        }
    }
</script>

<style scoped>

</style>
