<template>
    <div justify-center>
        {{ prefix }} &nbsp; {{ valueData }} &nbsp; {{ suffix }}
    </div>
</template>

<script>
    export default {
        name: "DataNumberControl",
        data() {
            return {
                prefix: '',
                suffix: '',
                valueData: ''
            }
        },
        props: {
            'publishId': String,
            'control': undefined
        },
        mounted: function (){
            this.$data.prefix = (this.$props.control.prefix != null ? this.$props.control.prefix : '');
            this.$data.suffix = (this.$props.control.suffix != null ? this.$props.control.suffix : '');
            this.$data.valueData = (this.$props.control.valueData != null ? this.$props.control.valueData : '');
        }
    }
</script>

<style scoped>

</style>
