<template>
    <div justify-center>
    <v-switch v-model="switchState"></v-switch>
    </div>
</template>

<script>
    import { ItemsDeviceHelper } from "@/core/services/helpers/items/ItemsDeviceHelper";
    export default {
        name: "ToggleControl",
        props: {
            'publishId': String,
            'control': undefined,
            'groupId': String,
            'deviceId': String
        },
        computed: {
            switchState: {
                get: function() {
                    return this.$props.control.value;
                },
                set: function(newValue) {
                    ItemsDeviceHelper.sendDeviceCommand(this.$props.deviceId, this.$props.groupId, this.$props.control.id, newValue);
                    console.log(newValue);
                    /// Should create device command and send.
                }
            }
        }
    }
</script>

<style scoped>

</style>
