<template>
    <v-dialog v-model="showpasschange" justify-center persistent content content-class="centered-dialog">
        <v-card class="elevation-12">
            <v-toolbar dense dark color="primary">
                <v-toolbar-title>Change password</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-layout row v-if="isInitial">
                    <v-flex xs12>
                        <p>You are loging in with your initial password.<br/>You need to change this before you can continue.</p>
                    </v-flex>
                </v-layout>
                <v-layout row v-if="!isInitial">
                    <v-flex xs12>
                        <p>Change your password here, It is required to<br/>fill in your current password to be able to change.</p>
                    </v-flex>
                </v-layout>
                <v-form ref="form" autocomplete="off">
                    <v-layout row no-wrap>
                        <v-flex xs12>
                            <v-text-field
                                name="current"
                                label="Current Password"
                                id="current"
                                v-validate="'required'"
                                data-vv-as="retype password"
                                v-model="current"
                                :error-messages="errors.collect('current')"
                                type="password"
                                required></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row no-wrap>
                        <v-flex xs12>
                            <v-text-field
                                name="pass"
                                label="New password"
                                id="pass"
                                ref="pass"
                                :append-icon="showPass ? 'visibility_off' : 'visibility'"
                                :type="showPass ? 'text' : 'password'"
                                @click:append="showPass =! showPass"
                                v-validate="'required'"
                                data-vv-as="password"
                                v-model="pass"
                                v-debounce:500ms="checkPassStrength"
                                :error-messages="errors.collect('pass')"
                                :persistent-hint="persistentHint"
                                :hint="passHint"
                                required>
                                <v-tooltip slot="append-outer" top v-if="warning !== ''" >
                                    <v-icon slot="activator" color="warning" dark v-if="warning !== ''" >warning</v-icon>
                                    <span v-html="warning"></span>
                                </v-tooltip>
                            </v-text-field>
                            <div class="Password__strength-meter">
                                <div class="Password__strength-meter--fill" :data-score="passwordStrength"></div>
                            </div>
                        </v-flex>
                    </v-layout>
                    <v-layout row no-wrap>
                        <v-flex xs12>
                            <v-text-field
                                name="repass"
                                label="Retype new password"
                                id="repass"
                                v-validate="'required|confirmed:pass'"
                                data-vv-as="retype password"
                                v-model="repass"
                                :error-messages="errors.collect('repass')"
                                type="password"
                                required></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-form>
                <v-alert
                    :value="showError"
                    type="error"
                    transition="scale-transition">
                    {{ serverErrorText }}
                </v-alert>
                <v-alert
                    :value="showSuccess"
                    type="success"
                    transition="scale-transition">
                    Password updated
                </v-alert>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="danger" @click="cancel" v-if="isInitial !== true">Cancel</v-btn>
                <v-btn color="primary" @click="submit" :disabled="(current === '' || pass === '' || repass === '' || errors.any())">Change</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import Vue from 'vue';
    import VeeValidate from 'vee-validate';
    import UserService from '@/core/services/UserService';
    import vueDebounce from 'vue-debounce';

    Vue.use(VeeValidate);
    Vue.use(vueDebounce);

    export default {
        name: "password-change",
        props: {
            showpasschange: {
                type: Boolean,
                default: true
            },
            isInitial: {
                type: Boolean,
                default: true
            }
        },
        data: function () {
            return {
                current: '',
                pass: '',
                repass: '',
                showPass: false,
                warning: '',
                passHint: '',
                persistentHint: true,
                serverErrorText: '',
                showError: false,
                showSuccess: false,
                passwordStrength: null
            };
        },
        methods: {
            cancel() {
                this.$emit('password-updated', false);
            },
            checkPassStrength(){
                if(this.pass !== null && this.pass !== '') {
                    UserService.checkPasswordStrength(this.pass).then(result => {
                        let fullText = '';
                        if (result.warning !== '') {
                            fullText = '- ' + result.warning + "<br/>";
                        }
                        if (result.suggestions.length > 0) {
                            for (let i = 0; i < result.suggestions.length; i++) {
                                fullText += '- ' + result.suggestions[i] + "<br/>";
                            }
                        }
                        if (fullText.length > 0) {
                            this.warning = fullText.substring(0, fullText.length - 5);
                        } else {
                            this.warning = '';
                        }
                        this.passwordStrength = result.score;
                        switch (result.score) {
                            case 0:
                                this.passhint = 'Awful';
                                break;
                            case 1:
                                this.passhint = 'Bad';
                                break;
                            case 2:
                                this.passhint = 'Try harder';
                                break;
                            case 3:
                                this.passhint = 'Good';
                                break;
                            case 4:
                                this.passhint = 'Wow!';
                                break;
                        }
                    });
                } else {
                    this.passwordStrength = null;
                    this.warning = '';
                    this.passHint = '';
                }
            },
            submit() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        let instance = this;
                        UserService.updatePassword(this.$data.current, this.$data.pass, this.$data.repass).then(response => {
                            if (response) {
                                instance.$data.showSuccess = true;
                                setTimeout(function () {
                                    instance.$data.showSuccess = false;
                                    instance.$emit('password-updated', true);
                                }, 1500);
                            }
                        }).catch(error => {
                            if (error.response !== undefined) {
                                if (error.response.status === 409) {
                                    instance.$data.serverErrorText = error.response.statusText;
                                    instance.$data.showError = true;
                                    setTimeout(function () {
                                        instance.$data.showError = false;
                                    }, 3000);
                                }
                            }
                        });
                    }
                });
            },
            exposeFeedback( {suggestions, warning}) {
                let fullText = '';
                if (warning.length > 0) {
                    fullText = '- ' + warning + "<br/>";
                }
                if (suggestions.length > 0) {
                    for (let i = 0; i < suggestions.length; i++) {
                        fullText += '- ' + suggestions[i] + "<br/>";
                    }
                }
                if (fullText.length > 0) {
                    this.$data.warning = fullText.substring(0, fullText.length - 5);
                } else {
                    this.$data.warning = '';
                }
            },
            exposeScore(score) {
                switch (score) {
                    case 0:
                        this.$data.passhint = 'Awful';
                        break;
                    case 1:
                        this.$data.passhint = 'Bad';
                        break;
                    case 2:
                        this.$data.passhint = 'Try harder';
                        break;
                    case 3:
                        this.$data.passhint = 'Good';
                        break;
                    case 4:
                        this.$data.passhint = 'Wow!';
                        break;
                }
            }
        }
    }
</script>
<style lang="scss">
    .Password__strength-meter {
        position: relative;
        height: 3px;
        background: #DDD;
        margin: 10px auto 20px;
        border-radius: 3px;
    }
    .Password__strength-meter:before, .Password__strength-meter:after {
        content: '';
        height: inherit;
        background: transparent;
        display: block;
        border-color: #FFF;
        border-style: solid;
        border-width: 0 5px 0 5px;
        position: absolute;
        width: 20%;
        z-index: 10;
    }
    .Password__strength-meter:before {
        left: 20%;
    }
    .Password__strength-meter:after {
        right: 20%;
    }
    .Password__strength-meter--fill {
        background: transparent;
        height: inherit;
        position: absolute;
        width: 0;
        border-radius: inherit;
        transition: width 0.5s ease-in-out, background 0.25s;
    }
    .Password__strength-meter--fill[data-score='0'] {
        background: darkred;
        width: 20%;
    }
    .Password__strength-meter--fill[data-score='1'] {
        background: orangered;
        width: 40%;
    }
    .Password__strength-meter--fill[data-score='2'] {
        background: orange;
        width: 60%;
    }
    .Password__strength-meter--fill[data-score='3'] {
        background: yellowgreen;
        width: 80%;
    }
    .Password__strength-meter--fill[data-score='4'] {
        background: green;
        width: 100%;
    }
</style>
