<template>
    <div>
        <h3>{{ section.name }}</h3>
        <p v-if="section.description">{{ section.description }}</p>
        <component v-for="(field, index) in section.elements"
                   :key="index"
                   :is="fieldNaming(field.inputFieldType)"
                   :fieldData="field"
                    :editable="editable">
        </component>
    </div>
</template>

<script>
    import TextField from './fields/TextField'
    import SelectField from './fields/SelectField'
    import { TextTools } from '@/core/helpers/TextTools'

    export default {
        name: "InputSection",
        props: {
            editable: Boolean,
            section: undefined
        },
        components: {
            'TextField': TextField,
            'SelectField': SelectField
        },
        methods: {
            fieldNaming(fieldName){
                return TextTools.camelCaseToClassFieldType(fieldName);
            }
        }
    }
</script>

<style scoped>

</style>
