<template>
    <v-card class="ma-0 pd-0">
        <v-card-title class="headline" v-if="discovered">{{ discovered.discoveredItem.name }}</v-card-title>
        <v-card-text>
            <v-tabs horizontal>
                <v-tab>
                    Add
                </v-tab>
                <v-tab :disabled="discovered === undefined">
                    Information
                </v-tab>
                <v-tab-item eager>
                    <v-form ref="form" autocomplete="on">
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field
                                        name="newDeviceName"
                                        label="Device name"
                                        type="text"
                                        v-validate="'required'"
                                        :error-messages="errors.collect('newDeviceName')"
                                        data-vv-name="newDeviceName"
                                        data-vv-as="name of the device"
                                        v-model="newDevice.name"
                                        clearable
                                        required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field
                                        name="newDeviceDescription"
                                        label="Description"
                                        type="text"
                                        v-validate="'required'"
                                        :error-messages="errors.collect('newDeviceDescription')"
                                        data-vv-name="newDeviceDescription"
                                        data-vv-as="device description"
                                        v-model="newDevice.description"
                                        clearable
                                        required></v-text-field>
                            </v-flex>
                        </v-layout>
                        <template v-if="userDefinedDevice">
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-autocomplete
                                            name="newDeviceDefinitionSelection"
                                            label="Select device"
                                            :items="definitions"
                                            v-validate="'required'"
                                            :error-messages="errors.collect('newDeviceDefinitionSelection')"
                                            data-vv-name="newDeviceDefinitionSelection"
                                            data-vv-as="device type to add"
                                            item-text="name"
                                            item-value="id"
                                            clearable
                                            hide-no-data
                                            hide-selected
                                            :loading="loadingDefinitions"
                                            v-model="definition"
                                            no-data-text="No devices found"></v-autocomplete>
                                </v-flex>
                                <v-flex xs12 text-right>
                                    <router-link
                                            :to="{ path: '/settings/items/builders/device/discovered/' + newDevice.discoveredId + '?ref=discovery'}">
                                    Or create a new device
                                    </router-link>
                                </v-flex>
                            </v-layout>
                        </template>
                        <template v-if="Object.keys(newDevice.options).length > 0">
                            <h3>Device options</h3>
                        </template>
                        <h3>Device address</h3>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field
                                        name="newDeviceAddress"
                                        :label="addressLabel"
                                        type="text"
                                        v-validate="'required'"
                                        :error-messages="errors.collect('newDeviceAddress')"
                                        data-vv-name="newDeviceAddress"
                                        data-vv-as="address of the device"
                                        v-model="newDevice.address.address"
                                        :disabled="addressDisabled"
                                        clearable
                                        required>
                                    <v-icon class="always-active-address-button" slot="prepend" @click="addressDisabled = !addressDisabled">
                                        {{ editIcon }}
                                    </v-icon>
                                </v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-tab-item>
                <v-tab-item eager>
                    <module-info :presentation="discovered.discoveredItem.information" v-if="discovered" />
                </v-tab-item>
            </v-tabs>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" @click="cancel()">Cancel</v-btn>
            <v-btn color="primary" @click="addItem()">Add</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>

    import Presentation from '@/core/components/presentation/Presentation';
    import ItemService from "@/core/services/ItemService";
    import EventBus from '@/core/EventBus';
    import { ItemsDeviceHelper } from '@/core/services/helpers/items/ItemsDeviceHelper';

    export default {
        name: "DiscoveredItemDetails",
        $_veeValidate: {
            validator: 'new'
        },
        props :[
            'discovered'
        ],
        data() {
            return {
                newDevice: ItemsDeviceHelper.deviceDefaultEmptyConfiguration(),
                addressLabel: '',
                userDefinedDevice: false,
                definitions: [],
                loadingDefinitions: true,
                definition: null,
                addressDisabled: false
            }
        },
        components: {
            'module-info' : Presentation
        },
        watch: {
            discovered: {
                immediate: true,
                handler (newDiscoveredProp) {
                    this.$data.definitions = ['Item'];
                    this.setDiscoveredItem(newDiscoveredProp);
                    this.getDeviceDefinitions();
                }
            }
        },
        methods: {
            getDeviceDefinitions(){
                this.$data.loadingDefinitions = true;
                let me = this;
                ItemService.getItemDefinitions('DEVICE').then(result => {
                    me.$data.loadingDefinitions = false;
                    if(result) {
                        me.$data.definitions = result;
                        if (this.$route.params['discoveredItemDefinition'] !== undefined) {
                            me.$data.definition = this.$route.params['discoveredItemDefinition'];
                        }
                    }
                });
            },
            setDiscoveredItem(discovered){
                if(this.errors){
                    this.errors.clear();
                }
                this.$data.newDevice = ItemsDeviceHelper.discoveredDeviceDefaultEmptyConfiguration();
                this.$data.newDevice.discoveredId = discovered.id;
                this.$data.newDevice.address = discovered.discoveredItem.address;
                //this.$data.newDevice.privateFields = discovered.discoveredItem.fieldParameters;
                this.$data.addressLabel = discovered.discoveredItem.address.label ? discovered.discoveredItem.address.label : 'Device address';
                switch(discovered.discoveredItem.deviceBuilderType){
                    case 'PROVIDED':
                    case 'USER':
                        this.userDefinedDevice = true;
                        break;
                    default:
                        this.userDefinedDevice = false;
                        break;
                }
            },
            addItem(){
                console.log(this.$validator.validateAll());
                this.$validator.validateAll().then(result => {
                    if(result) {
                        EventBus.$emit("content.wait", true);
                        let deviceInfo = {
                            name: this.$data.newDevice.name,
                            description: this.$data.newDevice.description,
                            options: {},
                            address: this.$data.newDevice.address.address,
                            itemType: 'DEVICE'
                        }
                        ItemService.addFromDiscoveredItem(this.$props.discovered.id, this.$data.definition, deviceInfo).then(() => {
                            this.$route.params['discoveredItem'] = undefined;
                            this.$route.params['discoveredItemDefinition'] = undefined;
                            this.$emit('discovered-item-close', 'close');
                            this.$data.newDevice = ItemsDeviceHelper.deviceDefaultEmptyConfiguration();
                        });
                    }
                });
            },
            cancel(){
                this.$emit('discovered-item-close', 'close');
                this.$data.newDevice = ItemsDeviceHelper.deviceDefaultEmptyConfiguration();
            }
        },
        computed: {
            editIcon () {
                return this.addressDisabled ? 'lock' : 'lock_open'
            }
        }
    }
</script>

<style scoped>
    .always-active-address-button {
        pointer-events: auto;
    }
</style>
