<template>
    <component
            :is="addressComponent"
            :label="itemDefinition.address.label != undefined && itemDefinition.address.label != '' ? itemDefinition.address.label : 'Address'"
            :description="itemDefinition.address.description != undefined && itemDefinition.address.description != '' ? itemDefinition.address.description : 'Enter item\'s address'"
            v-bind:value="item.address"
            v-on:update:value="item.address = $event">
    </component>
</template>

<script>
    import BooleanAddress from "@/core/components/input/BooleanAddress";
    import FloatAddress from "@/core/components/input/FloatAddress";
    import HexAddress from "@/core/components/input/HexAddress";
    import IntegerAddress from "@/core/components/input/IntegerAddress";
    import IpAddress from "@/core/components/input/IpAddress";
    import StringAddress from "@/core/components/input/StringAddress";

    export default {
        name: "item-address-field",
        props: [
            'item',
            'itemDefinition'
        ],
        data() {
            return {
                addressComponent: String
            };
        },
        components :{
            BooleanAddress,
            FloatAddress,
            HexAddress,
            IntegerAddress,
            IpAddress,
            StringAddress
        },
        beforeMount() {
            this.addressComponent = this.addressComponentSelector(this.$props.itemDefinition.address.dataType);
        },
        methods: {
            addressComponentSelector(fieldType){
                switch(fieldType){
                    case "STRING_ADDRESS":
                        return "StringAddress";
                    case "BOOLEAN_ADDRESS":
                        return "BooleanAddress";
                    case "INTEGER_ADDRESS":
                        return "IntegerAddress";
                    case "FLOAT_ADDRESS":
                        return "FloatAddress";
                    case "IP_ADDRESS":
                        return "IpAddress";
                    default:
                        return "StringAddress";
                }
            }
        }
    }
</script>

<style scoped>

</style>
