<template>
    <v-container fluid class="pa-0">
        <v-list two-line>
            <template v-for="(item, index) in discoveredList">
                <v-list-item v-bind:key="index" @click="openDetails(item)">
                    <v-list-item-content>
                        <v-list-item-title>{{ item.discoveredItem.name }}</v-list-item-title>
                        <v-list-item-subtitle>Address: {{ item.discoveredItem.address.address }}, discovered: {{ new Date(item.discoveredItem.discoveryDateTime).toLocaleString() }}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </template>
            <v-btn fab fixed bottom right color="primary" @click="showDiscoverableItemProviders()">
                <v-icon>wifi</v-icon>
            </v-btn>
        </v-list>
        <v-dialog v-model="showDiscoverableItemProvidersDialog" max-width="500" :scrollable="true">
            <v-card>
                <v-card-title>
                    <div>
                        <h3 class="headline mb-0">New items discovery</h3>
                    </div>
                </v-card-title>
                <v-card-text class="pt-0">
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-select
                                    :items="discoveryModules"
                                    label="Select module"
                                    item-text="moduleDefinition.name"
                                    item-value="id"
                                    :value="selectedDiscoveryModule"
                            ></v-select>
                        </v-flex>
                        <v-flex xs4>
                            <v-select
                                    :items="period.types"
                                    label="Type"
                                    item-text="label"
                                    item-value="name"
                                    :value="preSelectedType"
                                    v-model="selectedType"
                                    :disabled="allSelectEnabled"
                            ></v-select>
                        </v-flex>
                        <v-flex xs4>
                            <v-select
                                    :items="period.lengths"
                                    label="Period"
                                    item-text="label"
                                    item-value="name"
                                    :value="preSelectedLength"
                                    v-model="selectedLength"
                                    :disabled="allSelectEnabled"
                            ></v-select>
                        </v-flex>
                        <v-flex xs4>
                            <v-select
                                    :items="period.units"
                                    label="Unit"
                                    return-object
                                    item-text="label"
                                    item-value="name"
                                    :value="preSelectedUnit"
                                    v-model="selectedUnit"
                                    :disabled="allSelectEnabled"
                            ></v-select>
                        </v-flex>
                    </v-layout>
                    <v-list v-if="busyModules.length > 0">
                        <v-list-group :value="false">
                            <template v-slot:activator>
                                <v-list-item-content>
                                    <v-list-item-title>Active discovery</v-list-item-title>
                                </v-list-item-content>
                            </template>
                            <v-list-item
                                    v-for="(module, index) in busyModules"
                                    :key="index">
                                <v-list-item-title v-text="module.moduleDefinition.name"></v-list-item-title>
                                <v-list-item-action>
                                    <v-btn icon>
                                        <v-icon color="red">mdi-delete</v-icon>
                                    </v-btn>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list-group>
                    </v-list>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="cancelDiscovery()">Cancel</v-btn>
                    <v-btn color="primary" @click="startDiscovery()">Start discovery</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="showItemDialog" max-width="500" :scrollable="true">
            <component :is="discoveredItemType" :discovered="discoveredItemData" @discovered-item-close="showItemDialog = false"></component>
        </v-dialog>
    </v-container>
</template>

<script>
    import EventBus from '@/core/EventBus';
    import ItemService from '@/core/services/ItemService';
    import ModuleService from '@/core/services/ModuleService';

    import DiscoveredDeviceDetails from './components/DiscoveredDeviceDetails';

    export default {
        name: "Items",
        data() {
            return {
                contentRefreshable: true,
                discoveredList: Array,
                waitProgress: false,
                showItemDialog: false,

                discoveredItemType: null,
                discoveredItemData: Object,

                showDiscoverableItemProvidersDialog: false,
                selectedDiscoveryModule: undefined,
                discoveryModules: [],
                busyModules: [],
                period: {},
                preSelectedType: 'CONTINUOUS',
                preSelectedLength: 'ONE',
                preSelectedUnit: 'MINUTES',
                selectedType: 'CONTINUOUS',
                selectedLength: 'ONE',
                selectedUnit: 'MINUTES'
            }
        },
        mounted() {
            this.getDiscoveredItems();
            let self = this;
            EventBus.$on('content', (event) => {
                if(event === 'refresh.content' || event === 'refresh.discovery'){
                    self.getDiscoveredItems();
                }
            });
            ModuleService.getDiscoveryOptions().then(result => {
                this.$data.period = result;
            });
        },
        beforeDestroy() {
            EventBus.$off('content');
        },
        components: {
            DiscoveredDeviceDetails
        },
        computed: {
            allSelectEnabled() {
                return this.$data.selectedDiscoveryModule === undefined
            }
        },
        methods: {
            showDiscoverableItemProviders(){
                this.$data.showDiscoverableItemProvidersDialog = true;
                ModuleService.getModulesWithCapabilities(['DISCOVERY']).then(result => {
                    this.$data.discoveryModules = [];
                    this.$data.busyModules = [];
                    for(let i=0; i<result.length; i++){
                        let discoveryModule = result[i];
                        if(!discoveryModule.discovering){
                            this.$data.discoveryModules.push(discoveryModule);
                        } else {
                            this.$data.busyModules.push(discoveryModule);
                        }
                    }
                    if(this.$data.discoveryModules.length > 0){
                        this.$data.selectedDiscoveryModule = this.$data.discoveryModules[0];
                    }
                });
            },
            getDiscoveredItems() {
                let self = this;
                ItemService.getDiscoveredItems().then( items => {
                    self.$data.discoveredList = items;
                    if(this.$route.params['discoveredItem'] !== undefined){
                        this.openDetails({id:this.$route.params['discoveredItem']});
                    }
                });
            },
            openDetails(item){
                ItemService.getDiscoverdItem(item.id).then( item => {
                    this.injectComponent(item.type);
                    this.discoveredItemData = item;
                    this.$data.showItemDialog = true;
                });
            },
            injectComponent(componentTypeSwitch){
                switch(componentTypeSwitch){
                    case 'DEVICE':
                        this.discoveredItemType = 'DiscoveredDeviceDetails';
                        break;
                }
            },
            closeDiscoveryDialog(){
                this.$data.showDiscoverableItemProvidersDialog = false;
                this.$data.selectedItem = {};
            },
            startDiscovery(){
                EventBus.$emit("content.wait", true);
                ModuleService.startItemDiscovery(this.$data.selectedDiscoveryModule.id,
                    {type: this.$data.selectedType, length: this.$data.selectedLength, unit: this.$data.selectedUnit}
                    ).then(() => {
                    this.closeDiscoveryDialog();
                });
            },
            cancelDiscovery(){
                this.$data.showDiscoverableItemProvidersDialog = false;
                this.$data.selectedDiscoveryModule = undefined;
            }
        }
    }
</script>

<style scoped>

</style>
