<template>
    <v-container fluid class="pa-0">
        <v-toolbar dense dark>
            <v-toolbar-items>
                <v-select :items="builderTypes" v-model="selectedBuilder" class="capitalize" v-on:change="changeBuilder"/>
            </v-toolbar-items>
        </v-toolbar>
        <component :is="builderComponent"></component>
    </v-container>
</template>

<script>

    import DeviceBuilder from "./builders/DeviceBuilder";
    import {TextTools} from "@/core/helpers/TextTools";

    export default {
        name: "ItemsBuilder",
        data() {
            return {
                builderTypes: ['device'],
                selectedBuilder: String,
                builderComponent: undefined
            }
        },
        components :{
            DeviceBuilder
        },
        beforeMount() {
            if(this.$route.params['builder'] !== undefined){
                this.setSelectedBuilder(this.$route.params['builder']);
            }
        },
        methods: {
            changeBuilder(value){
                this.setSelectedBuilder(value);
            },
            setSelectedBuilder(selectedBuilder){
                this.selectedBuilder = selectedBuilder;
                this.builderComponent = TextTools.ucFirst(this.selectedBuilder) + 'Builder';
            }
        }
    }
</script>

<style scoped>
    .capitalize {
        text-transform: capitalize;
    }
</style>
