<template>
    <v-container fluid class="pa-0">
        <v-list v-for="(itemMeta, index) in itemList" v-bind:key="index" subheader>
            <v-subheader v-if="showItemLocationHeader(itemMeta)">{{ itemMeta.location }}</v-subheader>
            <v-list-item>
                <v-list-item-content @click="openDetails(itemMeta)">
                    <v-list-item-title>{{ itemMeta.name }}</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                    <v-btn icon>
                        <v-icon color="red" @click="showDeleteItem(itemMeta)">mdi-delete</v-icon>
                    </v-btn>
                </v-list-item-action>
            </v-list-item>
        </v-list>
        <v-dialog v-model="openDeleteDialog" max-width="500">
            <v-card>
                <v-card-title>
                    <div>
                        <h3 class="headline mb-0">Delete item</h3>
                    </div>
                </v-card-title>
                <v-card-text>
                    Delete <strong>{{ currentDeleteItem.name }}?</strong> This action can not be undone.<br/>
                    This item is used at: Unknown location. <br/>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="cancelDeleteItem()">Cancel</v-btn>
                    <v-btn color="error" @click="deleteItem()">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="openEditDialog" max-width="500" :scrollable="true">
            <v-card>
                <v-card-title>
                    <div>
                        <h3 class="headline mb-0">Edit item</h3>
                    </div>
                </v-card-title>
                <v-card-text class="pt-0">
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field
                                    name="itemName"
                                    label="Name"
                                    type="text"
                                    v-validate="'required'"
                                    :error-messages="errors.collect('itemName')"
                                    data-vv-name="itemName"
                                    data-vv-as="Name of the item"
                                    v-model="currentEditItem.name"
                                    clearable
                                    required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field
                                    name="itemDescription"
                                    label="Description"
                                    type="text"
                                    v-model="currentEditItem.description"
                                    clearable></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <item-address-field :item="currentEditItem" :item-definition="currentEditItemDefinition"></item-address-field>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="cancelUpdateItem()">Cancel</v-btn>
                    <v-btn color="primary" @click="updateItem()">Update</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>


<script>

    import EventBus from '@/core/EventBus';
    import ItemService from '@/core/services/ItemService';
    import ItemAddressField from "./components/ItemAddressField";

    export default {
        name: "Items.vue",
        data() {
            return {
                currentLoc: '',
                contentRefreshable: true,
                itemList: [],
                currentEditItem: Object,
                currentEditItemDefinition: Object,
                openEditDialog: false,
                openDeleteDialog: false,
                currentDeleteItem: Object,
                currentLoopLocation: Object
            }
        },
        mounted() {
            this.getAllItems();
            let self = this;
            EventBus.$on('content', (event) => {
                if(event === 'refresh.content'){
                    self.getAllItems();
                }
            });
        },
        components: {
            'item-address-field': ItemAddressField
        },
        beforeDestroy() {
            EventBus.$off('content');
        },
        methods: {
            getAllItems(){
                ItemService.getAllItems().then(items => {
                    this.$data.itemList = items;
                });
            },
            openDetails(itemDetails){
                let self = this;
                ItemService.getItemDefinition(itemDetails.id).then(definition => {
                    self.currentEditItemDefinition = definition;
                    self.currentEditItem = Object.assign({}, itemDetails);
                    self.openEditDialog = true;
                });
            },
            cancelUpdateItem(){
                this.currentEditItemDefinition = {};
                this.currentEditItem = {};
                this.openEditDialog = false;
            },
            updateItem(){
                let self = this;
                this.$validator.validateAll().then(result => {
                    if(result){
                        EventBus.$emit('content.wait', true);
                        ItemService.updateItem(self.currentEditItem).then(result => {
                            if(result){
                                self.getAllItems();
                            }
                            EventBus.$emit('content.wait', false);
                            self.openEditDialog = false;
                        });
                    }
                });
            },
            showDeleteItem(item){
                this.currentDeleteItem = item;
                this.openDeleteDialog = true;
            },
            deleteItem(){
                let self = this;
                ItemService.deleteItem(this.currentDeleteItem).then(result => {
                    this.cancelDeleteItem();
                    if(result) {
                        self.getAllItems();
                    }
                });
            },
            cancelDeleteItem(){
                this.openDeleteDialog = false;
                this.currentDeleteItem = {};
            },
            showItemLocationHeader(itemMeta){
                let show = this.currentLoopLocation !== itemMeta.location;
                this.currentLoopLocation = itemMeta.location;
                return show;
            }
        }
    }
</script>

<style scoped>

</style>
