<template>
    <v-form class="pa-0 ma-0" ref="UserSettingsEditorForm">
        <v-container fluid grid-list-xl>
            <v-layout wrap row d-flex>
                <v-flex xs12 md6>
                    <v-card>
                        <v-card-title primary-title>
                            <v-list-item-avatar>
                                <v-icon>settings</v-icon>
                            </v-list-item-avatar>
                            <h3 class="title">General</h3>
                        </v-card-title>
                        <v-list subheader two-line>
                            <v-subheader>Look and feel</v-subheader>
                            <v-list-item>
                                <v-list-item-avatar>
                                    <font-awesome-icon icon="palette"></font-awesome-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title>Dark theme</v-list-item-title>
                                    <v-list-item-subtitle>Enable option to activate dark theme</v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-switch @change="switchThemeManual" hint="Switch theme to default dark or light" v-model="isCurrentlyDark" :disabled="isAutomaticDarkSet" ref="switchDarktheme"></v-switch>
                                </v-list-item-action>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-content>
                                    <v-container class="pa-0 ma-0">
                                        <v-row no-gutters>
                                        <v-flex justify-start>
                                            <v-checkbox @change="switchAutoDark"
                                                        hint="Enable/Disable automatic dark theme"
                                                        v-model="isAutomaticDarkSet"
                                                        ref="switchDarkthemeAutomatic"
                                                        :label="`Dark theme between`"></v-checkbox>
                                        </v-flex>
                                        <v-flex justify-end shrink>
                                            <v-dialog ref="dialogStartTime" v-model="startTimeModal" :return-value.sync="startTime" persistent width="290px">
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-model="startTime" label="Start" readonly v-on="on"></v-text-field>
                                                </template>
                                                <v-time-picker v-if="startTimeModal" v-model="startTime" full-width flat format="24hr">
                                                    <v-spacer></v-spacer>
                                                    <v-btn @click="startTimeModal = false">Cancel</v-btn>
                                                    <v-btn color="primary" @click="$refs.dialogStartTime.save(startTime)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-flex>
                                        <v-flex justify-end shrink>
                                            <v-dialog ref="dialogEndTime" v-model="endTimeModal" :return-value.sync="endTime" persistent width="290px">
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field v-model="endTime" label="End" readonly v-on="on"></v-text-field>
                                                </template>
                                                <v-time-picker v-if="endTimeModal" v-model="endTime" full-width flat format="24hr">
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat @click="endTimeModal = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialogEndTime.save(endTime)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-flex>
                                        </v-row>
                                    </v-container>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-flex>
                <v-flex xs12 md6>
                    <v-card>
                        <v-card-title primary-title>
                            <v-list-item-avatar>
                                <font-awesome-icon icon="globe"></font-awesome-icon>
                            </v-list-item-avatar>
                            <h3 class="title">Localization options</h3>
                        </v-card-title>
                        <v-list subheader two-line>
                            <v-list-item>
                                <v-list-item-avatar>
                                    <font-awesome-icon icon="map-marker-alt"></font-awesome-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title>Localization</v-list-item-title>
                                    <v-list-item-subtitle>Enables localization functionalities</v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-switch v-model="enableLocalization"></v-switch>
                                </v-list-item-action>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-avatar>
                                    <font-awesome-icon icon="map-marked-alt"></font-awesome-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-text-field :disabled="!enableLocalization" label="Geofence distance" prefix="KM" mask="###.##" reverse hint="Empty or zero to disable" persistent-hint></v-text-field>
                                </v-list-item-content>
                                <v-list-item-action class="text-xs-center">
                                    <v-tooltip slot="append-outer" top>
                                        <template v-slot:activator="{ on }">
                                            <v-icon v-on="on">help</v-icon>
                                        </template>
                                        Geofencing allows you to control your devices by entering or leaving a given distance. When you are coming within the range you provide here, you can:
                                        <ul>
                                            <li>Have the heating turned on to come home in a nice warm environment in the winter, or when leaving to have it turned off.</li>
                                            <li>Already have the lights turned on or activate an away sequence (mimic people are still around)</li>
                                            <li>Let the kids know you are close to home so they will shut down the party during your movie night out.</li>
                                        </ul>
                                    </v-tooltip>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
            <v-layout wrap row>
                <v-flex xs12 text-xs-right>
                    <v-btn color="primary">Save settings</v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-form>
</template>
<script>
    import { store } from '@/store/index';
    export default {
        name: 'user-details-settings-editor',
        props: {
            newUser: Boolean,
            userData: Object
        },
        data() {
            return {
                enableLocalization: false,
                startTimeModal: false,
                startTime: null,
                endTimeModal: false,
                endTime: null,
                isCurrentlyDark: false,
                isAutomaticDarkSet: true
            };
        },
        methods: {
            switchAutoDark(){
                store.dispatch('switchDarkThemeAutomatic', {value: !this.$refs.switchDarkthemeAutomatic.inputValue});
            },
            switchThemeManual(){
                store.dispatch('switchDarkThemeManual', {value: !this.$refs.switchDarktheme.inputValue});
                this.$vuetify.theme.dark = store.state.Application.isCurrentlyDark;
            }
        },
        mounted: function () {
            this.isAutomaticDarkSet = store.state.Application.isDarkThemeAutomatic;
            this.isCurrentlyDark = store.state.Application.isCurrentlyDark;
        }
    }
</script>
