<template>
    <v-tabs dark>
        <v-tab>
            User
        </v-tab>
        <v-tab>
            Connections
        </v-tab>
        <v-tab>
            Settings
        </v-tab>
        <v-tabs-items>
            <v-tab-item>
                <user-details-edit :newUser="newUser" :userData="userData"></user-details-edit>
            </v-tab-item>
            <v-tab-item>
                <user-details-connections-editor :newUser="newUser" :userData="userData"></user-details-connections-editor>
            </v-tab-item>
            <v-tab-item>
                <user-details-settings-editor :newUser="newUser" :userData="userData"></user-details-settings-editor>
            </v-tab-item>
        </v-tabs-items>
    </v-tabs>
</template>
<script>
    import UserDetailsEditor from './UserDetailsEditor.vue';
    import UserDetailsConnectionsEditor from './UserDetailsConnectionsEditor.vue';
    import UserDetailsSettingsEditor from './UserDetailsSettingsEditor.vue';
    export default {
        name: 'user-editor',
        data() {
            return {
                newUser: true
            };
        },
        props: {
            userData: Object
        },
        watch: {
            userData: function () {
                this.newUser = !{}.hasOwnProperty.call(this.userData, "username");
            }
        },
        components: {
            'user-details-edit': UserDetailsEditor,
            'user-details-connections-editor': UserDetailsConnectionsEditor,
            'user-details-settings-editor': UserDetailsSettingsEditor
        },
        methods: {
            passwordUpdated(maybe) {
                this.$data.showpasschange = maybe ? false : false;
            },
            showChangePassword() {
                this.$data.showpasschange = true;
            }
        }
    }
</script>
