<template>
    <v-container fluid class="pa-0">
        <v-list two-line>
            <template v-for="(user, index) in users">
                <v-list-tile :key="user.userName" @click="userClicked(user.id)">
                    <v-list-tile-avatar>
                        <v-img src="/assets/images/logo.png"></v-img>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ user.person.firstName || '' }} {{ user.person.lastName || '' }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider v-bind:key="index"></v-divider>
            </template>
        </v-list>
    </v-container>
</template>
<script>
    import UserService from '@/core/services/UserService';
    import VueMoment from 'vue-moment';
    import Vue from 'vue';
    Vue.use(VueMoment);
    export default {
        name: 'user-list',
        data() {
            return {
                users: []
            };
        },
        mounted() {
            let self = this;
            UserService.getUsers()
                    .then(usersObject => {
                        self.$data.users = usersObject.users;
                        self.userClicked(usersObject.users[0].id);
                    });
        },
        methods: {
            userClicked(id) {
                this.$emit('userlist-user-clicked', id);
            }
        }
    }
</script>
