<template>
    <v-container fluid grid-list-xl>
        <v-layout wrap row>
            <v-flex xs12 md6>
                <v-card>
                    <v-card-title primary-title>
                        <v-list-item-avatar>
                            <v-icon>lock</v-icon>
                        </v-list-item-avatar>
                        <v-subheader class="title pl-0">Login sessions</v-subheader>
                    </v-card-title>
                    <v-list subheader two-line>
                        <v-list-item v-for="(tokenRef,index) in activeTokens" :key="index" @click="mimicHover">
                            <v-list-item-avatar @click="tokenDetails(index)">
                                <v-icon>{{ tokenRef.deviceIcon }}</v-icon>
                            </v-list-item-avatar>
                            <v-list-item-content @click="tokenDetails(index)">
                                <v-list-item-title>{{ tokenRef.loginResource.browserName }}, {{ tokenRef.loginResource.osName }} {{ tokenRef.loginResource.osVersion }}</v-list-item-title>
                                <v-list-item-subtitle>Issued at {{ new Date(tokenRef.issuedAt) | moment("dddd, MMMM Do YYYY H:mm:ss") }}</v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-tooltip slot="append-outer" top v-if="tokenRef.currentSession">
                                    <template v-slot:activator="{ on }">
                                        <v-btn icon ripple disabled="disabled" v-on="on">
                                            <v-icon color="red">remove_circle_outline</v-icon>
                                        </v-btn>
                                    </template>
                                    You are currently logged in in this session. If you want to revoke access use the logout functionality
                                </v-tooltip>
                                <v-btn v-else icon ripple @click="invalidateToken(index)">
                                    <v-icon color="red">remove_circle_outline</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-flex>
            <v-flex xs12 md6>
                <v-card>
                    <v-card-title primary-title>
                        <v-list-item-avatar>
                            <v-icon>settings_applications</v-icon>
                        </v-list-item-avatar>
                        <v-subheader class="title pl-0">Connected applications</v-subheader>
                    </v-card-title>
                    <v-card-text class="text-wrap">
                        With connected application you are able to interact with your user account. These for examples are smart mirrors, alarms, etc..
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12 md6>
                <v-card>
                    <v-card-title primary-title>
                        <v-list-item-avatar>
                            <font-awesome-icon icon="handshake"></font-awesome-icon>
                        </v-list-item-avatar>
                        <v-subheader class="title pl-0">Connected accounts</v-subheader>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs11>

            </v-flex>
            <v-flex xs1>
                <v-speed-dial v-model="floatingAddButton" direction="left" bottom transition="slide-y-reverse-transition">
                    <template v-slot:activator>
                        <v-btn v-model="floatingAddButton" color="primary" fab>
                            <v-icon>add</v-icon>
                        </v-btn>
                    </template>
                    <v-btn fab small color="accent" @click="addMobileDialog = true">
                        <v-icon>smartphone</v-icon>
                    </v-btn>
                    <v-btn fab small color="accent">
                        <font-awesome-icon icon="handshake"></font-awesome-icon>
                    </v-btn>
                    <v-btn fab small color="accent">
                        <v-icon>settings_applications</v-icon>
                    </v-btn>
                </v-speed-dial>
            </v-flex>
        </v-layout>
        <v-dialog v-model="tokenDetailsDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Login session details</v-card-title>
                <v-container fuild grid-list-xs class="pt-0">
                    <v-layout row wrap>
                        <v-flex xs3>
                            <v-container fuild grid-list-xs class="pt-0">
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <v-icon x-large>{{ detailsObject.deviceIcon }}</v-icon>
                                    </v-flex>
                                    <v-flex xs12 class="text-capitalize text-center">
                                        {{ detailsObject.deviceType }}
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-flex>
                        <v-flex xs9>
                            <v-container fluid grid-list-xs class="pt-0">
                                <v-layout row wrap>
                                    <v-flex xs3>
                                        Ip address
                                    </v-flex>
                                    <v-flex xs9>
                                        {{ detailsObject.remoteIp }}
                                    </v-flex>
                                    <v-flex xs3>
                                        OS
                                    </v-flex>
                                    <v-flex xs9>
                                        {{ detailsObject.osName }} ({{ detailsObject.osVersion }})
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap>
                                    <v-flex xs3>
                                        Using
                                    </v-flex>
                                    <v-flex xs9>
                                        {{ detailsObject.browserType }} - {{ detailsObject.browserName }} ({{ detailsObject.browserVersion }})
                                    </v-flex>
                                    <v-flex xs3>
                                        When
                                    </v-flex>
                                    <v-flex xs9 v-if="detailsObject.issuedAt !== undefined">
                                        {{ new Date(detailsObject.issuedAt) | moment("dddd, MMMM Do YYYY H:mm:ss") }}
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="tokenDetailsDialog = false" color="primary">
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="tokenDeleteDialog" max-width="400">
            <v-card>
                <v-card-title class="headline">Revoke login session</v-card-title>
                <v-card-text>
                    Be revoking this token you will be logged out at that specific location.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="revokeToken" color="primary">
                        Revoke
                    </v-btn>
                    <v-btn @click="tokenDeleteDialog = false" color="primary">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="addMobileDialog" max-width="400">
            <v-card>
                <v-card-title class="headline">Add mobile</v-card-title>
                <v-card-text>
                    Add a mobile by scanning the QR code.
                    <v-img v-bind:src="qrCode"></v-img>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="loadQrCode" color="primary">
                        Refresh
                    </v-btn>
                    <v-btn @click="addMobileDialog = false" color="primary">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
    import UserService from '@/core/services/UserService';
    import PresentationPlatform from '@/core/helpers/PresentationPlatform.js';
    let presentationPlatform = new PresentationPlatform();
    export default {
        name: 'user-details-connections-editor',
        data: function () {
            return {
                activeTokens: [],
                tokenDetailsDialog: false,
                tokenDeleteDialog: false,
                detailsObject: {},
                deviceIcon: 'devices_other',
                floatingAddButton: false,
                addMobileDialog: false,
                qrCode: '',
                qrRefresher: {}
            };
        },
        props: {
            newUser: Boolean,
            userData: Object
        },
        methods: {
            loadQrCode() {
                let self = this;
                UserService.generateQr()
                        .then(imageData => {
                            self.qrCode = 'data:image/png;base64,' + new Buffer(imageData.data, 'binary').toString('base64');
                        });
            },
            mimicHover() {},
            invalidateToken(index) {
                this.detailsObject = this.activeTokens[index].loginResource;
                this.detailsObject.id = this.activeTokens[index].id;
                this.detailsObject.issuedAt = this.activeTokens[index].issuedAt;
                this.detailsObject.deviceIcon = presentationPlatform.icon(this.activeTokens[index].loginResource.deviceType);
                this.tokenDeleteDialog = true;
            },
            tokenDetails(index) {
                this.detailsObject = this.activeTokens[index].loginResource;
                this.detailsObject.id = this.activeTokens[index].id;
                this.detailsObject.issuedAt = this.activeTokens[index].issuedAt;
                this.detailsObject.deviceIcon = presentationPlatform.icon(this.activeTokens[index].loginResource.deviceType);
                this.tokenDetailsDialog = true;
            },
            revokeToken() {
                let me = this;
                UserService.revokeToken(this.detailsObject.id)
                        .then(function () {
                            me.refreshTokenList();
                        });
                this.tokenDeleteDialog = false;
            },
            refreshTokenList() {
                UserService.getActiveTokens()
                        .then(tokensList => {
                            for (let index in tokensList) {
                                tokensList[index]['deviceIcon'] = presentationPlatform.icon(tokensList[index].loginResource.deviceType);
                            }
                            this.$data.activeTokens = tokensList;
                        });
            }
        },
        watch: {
            userData: function () {
                if ({}.hasOwnProperty.call(this.userData,"username")) {
                    this.refreshTokenList();
                }
            },
            addMobileDialog: function () {
                if (this.addMobileDialog === true) {
                    this.loadQrCode();
                    this.qrRefresher = setInterval(this.loadQrCode, 10000);
                } else {
                    clearInterval(this.qrRefresher);
                    this.qrCode = '';
                }
            }
        }
    }
</script>
