<template>
    <v-container fluid grid-list-xl>
        <v-layout wrap row d-flex>
            <v-flex xs12 md4>
                <v-layout wrap>
                    <v-flex xs12>
                        <v-avatar class="mx-auto d-block" size="130">
                            <v-img :src="location"></v-img>
                        </v-avatar>
                    </v-flex>
                    <v-flex xs12 text-xs-center>
                        <v-btn color="primary" class="font-weight-light">Update photo</v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex xs12 md8>
                <v-subheader class="pl-0">Login data</v-subheader>
                <v-layout wrap row>
                    <v-flex xs6>
                        <v-text-field label="User Name" v-model="userData.username" :disabled="!newUser"></v-text-field>
                    </v-flex>
                    <v-flex xs6 text-xs-left text-md-center>
                        <v-btn color="primary" class="font-weight-light" @click="showChangePassword">
                            Update Password
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-subheader class="pl-0">Personal</v-subheader>
                <v-form lazy-validation ref="userDetailsForm" class="pa-0 ma-0">
                    <v-layout wrap row>
                        <v-flex xs12 md6>
                            <v-text-field label="First Name" v-model="userData.person.firstName"></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field label="Last Name" v-model="userData.person.lastName"></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field prepend-icon="email" label="Email address" v-model="userData.person.email"></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field prepend-icon="phone" label="Phone number" v-model="userData.person.phone"></v-text-field>
                        </v-flex>
                        <v-flex xs12 text-xs-right>
                            <v-btn class="mx-0" color="primary">
                                Update Profile
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-flex>
        </v-layout>
        <password-change :showpasschange="showpasschange" @password-updated="passwordUpdated" :isInitial="initial"></password-change>
    </v-container>
</template>
<script>
    import ChangePassword from '@/views/login/components/ChangePassword.vue';
    export default {
        name: 'user-details-edit',
        data() {
            return {
                showpasschange: false,
                initial: false,
                location: '/assets/images/logo.png'
            };
        },
        props: {
            newUser: Boolean,
            userData: Object
        },
        components: {
            'password-change': ChangePassword
        },
        methods: {
            passwordUpdated(maybe) {
                this.$data.showpasschange = maybe ? false : false;
            },
            showChangePassword() {
                this.$data.showpasschange = true;
            }
        }
    }
</script>
