<template>
    <v-container fill-height class="pa-0 ma-0">
        <v-layout row wrap>
            <v-flex xs12>
                <v-container fluid class="pl-2 pr-2 pt-3">
                    <v-layout row wrap>
                        <v-flex xs12>
                            <font-awesome-icon v-if="itemData.icon.iconType == 'FONT_AWESOME'" :icon="itemData.icon.icon"></font-awesome-icon>
                            <v-icon v-if="itemData.icon.iconType != 'FONT_AWESOME'">{{ itemData.icon.icon }}</v-icon>
                            <span class="headline">&nbsp;{{ itemData.name }}</span>
                        </v-flex>
                        <v-flex xs12>
                            <v-divider></v-divider>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
            <v-flex xs12 overflow-hidden>
                <div id="plannerCanvas">

                </div>
            </v-flex>
            <v-flex xs12 align-self-end>
                <v-divider></v-divider>
                <v-toolbar dense flat>
                    <v-btn-toggle mandatory v-model="selectedAction">
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-btn flat v-on="on">
                                    <span>Move</span>
                                    <v-icon>pan_tool</v-icon>
                                </v-btn>
                            </template>
                            <span>Move the floorplan</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-btn flat v-on="on">
                                    <v-icon>zoom_in</v-icon>
                                </v-btn>
                            </template>
                            <span>Zoom into the floorplan</span>
                        </v-tooltip>
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-btn flat v-on="on">
                                    <v-icon>zoom_out</v-icon>
                                </v-btn>
                            </template>
                            <span>Zoom out of the floorplan</span>
                        </v-tooltip>
                        <v-divider vertical></v-divider>
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-btn flat v-on="on">
                                    <span>Devices</span>
                                    <font-awesome-icon icon="plug"></font-awesome-icon>
                                </v-btn>
                            </template>
                            <span>Set / Remove devices</span>
                        </v-tooltip>
                        <v-divider vertical></v-divider>
                        <v-tooltip top>
                            <template v-slot:activator="{ on }">
                                <v-btn flat v-on="on">
                                    <span>Rooms / Sections</span>
                                    <font-awesome-icon icon="door-open"></font-awesome-icon> / <v-icon>select_all</v-icon>
                                </v-btn>
                            </template>
                            <span>Select / De-select rooms / sections</span>
                        </v-tooltip>
                    </v-btn-toggle>
                    <v-spacer></v-spacer>
                    <v-tooltip top>
                        <template v-slot:activator="{ on }">
                            <v-btn fab small flat color="primary" justify-end v-on="on">
                                <font-awesome-icon icon="upload" class="headline"></font-awesome-icon>
                            </v-btn>
                        </template>
                        <span>Upload floorplan</span>
                    </v-tooltip>
                </v-toolbar>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import PremisesPane from './PremisesPane.js';
    export default {
        name: 'premises-editor',
        data: function () {
            return {
                selectedAction: 0,
                svgEditor: {},
                svgLoaded: false,
                baseElement: {}
            };
        },
        props: {
            itemData: Object
        },
        watch: {
            itemData() {
                this.selectedAction = 0;
            }
        },
        mounted: function () {
            this.baseElement = document.getElementById('plannerCanvas').firstChild;
            this.svgEditor = new PremisesPane(this.baseElement, true);
            this.svgEditor.registerClickHandler(this.elementsClicked);
            this.svgEditor.registerHoverhandler(this.elementsHoverEnter);
        },
        methods: {
            elementsClicked(el) {
                if (el.path !== undefined && el.target !== null) {
                    if (el.target.className.baseVal.indexOf('clickedElement') === -1) {
                        el.target.className.baseVal = 'clickedElement';
                    } else {
                        el.target.className.baseVal = '';
                    }
                }
            },
            elementsHoverEnter(el) {
                if (el.path !== undefined && el.target !== null && el.path.includes(this.baseElement)) {
                    //console.log(el);
                }
            }
        }

    }
</script>
<style>
    #plannerCanvas {
        overflow: hidden;
    }
    .clickedElement {
        fill: #f06;
    }
</style>