<template>
    <v-treeview
        :items="premisesList"
        :open="open"
        item-key="id"
        activatable
        hoverable
        :active="selected"
        v-on:update:active="activateItem">

        <template v-slot:prepend="{ item }">
            <font-awesome-icon v-if="item.icon.iconType == 'FONT_AWESOME'" :icon="item.icon.icon"></font-awesome-icon>
            <v-icon v-if="item.icon.iconType != 'FONT_AWESOME'">{{ item.icon.icon }}</v-icon>
        </template>

        <template v-slot:append="{ item }">
            <template v-if="item.type == 'premises'">
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-icon color="success" v-on="on">add</v-icon>
                    </template>
                    <span>Add premises section or property</span>
                </v-tooltip>
            </template>
            <template v-else-if="item.type === 'property'">
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-icon color="success" v-on="on">add</v-icon>
                    </template>
                    <span>Add a floor level</span>
                </v-tooltip>
            </template>
            <template v-else-if="item.type === 'propertyLevel'">
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-icon color="success" v-on="on">add</v-icon>
                    </template>
                    <span>Add a room / section</span>
                </v-tooltip>
            </template>
            <v-tooltip top>
                <template v-slot:activator="{ on }">
                    <v-icon color="primary" v-on="on">edit</v-icon>
                </template>
                <span>Rename</span>
            </v-tooltip>
            <v-tooltip top>
                <template v-slot:activator="{ on }">
                    <v-icon color="error" v-on="on" :disabled="item.lonely">delete</v-icon>
                </template>
                <span>Delete item</span>
            </v-tooltip>
        </template>

    </v-treeview>
</template>
<script>
    import { PremisesService } from '@/core/services/PremisesService';
    export default {
        name: 'premises-list',
        data: function () {
            return {
                premisesList: [],
                tree: [],
                open: [],
                selected: [],
                currentActive: ''
            };
        },
        components: {
        },
        mounted() {
            let me = this;
            PremisesService.getPremisesList().then(result => {
                me.$data.totalPremises = result.data.length;
                for (let premises of result.data) {
                    let interMediatePremisesList = {};
                    interMediatePremisesList["id"] = "premises_" + premises.id;
                    if (me.$data.open.length === 0) {
                        me.$data.open.push(interMediatePremisesList["id"]);
                        me.$data.selected.push(interMediatePremisesList["id"]);
                    }
                    interMediatePremisesList["type"] = 'premises';
                    interMediatePremisesList["name"] = premises.name;
                    interMediatePremisesList["icon"] = premises.icon;
                    interMediatePremisesList["lonely"] = premises.properties.length < 2;
                    interMediatePremisesList["children"] = [];
                    for (const premisesSection of premises.sections) {
                        interMediatePremisesList["children"].push({
                            'type': 'premisesSection',
                            'id': 'premisesSection_' + premisesSection.id,
                            'name': premisesSection.name,
                            'icon': premisesSection.icon,
                            'lonely': false
                        });
                    }
                    for (const property of premises.properties) {
                        let propertyObject = {
                            'type': 'property',
                            'id': 'property_' + property.id,
                            'name': property.name,
                            'icon': property.icon,
                            'children': [],
                            'lonely': premises.properties.length < 2
                        };
                        for (const propertyLevel of property.propertyLevels) {
                            let propertyLevelObject = {
                                'type': 'propertyLevel',
                                'id': 'propertyLevel_' + propertyLevel.id,
                                'name': propertyLevel.name,
                                'icon': propertyLevel.icon,
                                'children': [],
                                'lonely': property.propertyLevels.length < 2
                            };
                            for (const propertySection of propertyLevel.sections) {
                                propertyLevelObject.children.push({
                                    'type': 'propertyLevelSection',
                                    'id': 'propertyLevelSection_' + propertySection.id,
                                    'name': propertySection.name,
                                    'icon': propertySection.icon,
                                    'lonely': propertyLevel.sections.length < 2
                                });
                            }
                            propertyObject.children.push(propertyLevelObject);
                        }
                        interMediatePremisesList["children"].push(propertyObject);
                    }
                    me.premisesList.push(interMediatePremisesList);
                }
            });
        },
        methods: {
            activateItem(item) {
                if (item !== undefined && item.length === 1 && item[0] !== this.currentActive) {
                    let foundItem = this.getItemById(item[0], this.premisesList);
                    if (foundItem !== null && foundItem !== undefined && foundItem.id !== this.currentActive) {
                        this.currentActive = foundItem.id;
                        this.$emit('premiseslist-premises-clicked', {
                            'id': parseInt(this.currentActive.split("_")[1]),
                            'type': foundItem.type
                        });
                    }
                }
            },
            getItemById(id, list) {
                let returnItem = null;
                for (let item of list) {
                    if (item.id === id) {
                        returnItem = item;
                    } else if ({}.hasOwnProperty.call(item, 'children')) {
                        returnItem = this.getItemById(id, item.children);
                    }
                    if (returnItem !== null && {}.hasOwnProperty.call(returnItem,"id") && returnItem.id === id) {
                        return returnItem;
                    }
                }
            }
        }
    }
</script>
