<template>
    <v-container fill-height fluid class="pa-0">
        <v-layout v-if="!isMobile">
            <v-flex md4>
                <premises-list @premiseslist-premises-clicked="loadPremisesSection"></premises-list>
            </v-flex>
            <v-divider vertical></v-divider>
            <v-flex md8>
                <premises-editor :itemData="selectedItem"></premises-editor>
            </v-flex>
        </v-layout>
        <v-layout v-if="isMobile">
            <v-flex xs12>
                <premises-list></premises-list>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import { PremisesService } from '@/core/services/PremisesService';
    import PremisesList from './PremisesList.vue';
    import PremisesEditor from './PremisesEditor.vue';

    export default {
        data() {
            return {
                isMobile: false,
                selectedItem: {
                    icon: {}
                }
            };
        },
        components: {
            'premises-list': PremisesList,
            'premises-editor': PremisesEditor
        },
        beforeMount: function () {
            this.setIsMobile();
        },
        mounted() {
        },
        methods: {
            setIsMobile() {
                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                    case 'sm':
                        this.$data.isMobile = true;
                        break;
                    default:
                        this.$data.isMobile = false;
                        break;
                }
            },
            loadPremisesSection(object) {
                if ({}.hasOwnProperty.call(object, 'id') && {}.hasOwnProperty.call(object, 'type')) {
                    let me = this;
                    switch (object.type) {
                        case 'premises':
                            PremisesService.getPremises(object.id).then(result => {
                                me.selectedItem = result.data;
                            });
                            break;
                        case 'propertyLevel':
                            PremisesService.getPropertyLevel(object.id).then(result => {
                                me.selectedItem = result.data;
                            });
                            break;
                        default:
                            break;
                    }
                }
            }
        }
    }
</script>
