<template>
    <v-app>
        <loading-spinner :showloading="waitProgress"></loading-spinner>
        <v-navigation-drawer v-model="sidebar" app temporary v-if="loggedIn">
            <v-list class="pt-0" dense>
                <template v-for="(menuItem, index) in menuItems">
                    <navigation-main-menu-item-drawer v-bind:item="menuItem" v-if="!menuItem.hasOwnProperty('submenuItems')" v-bind:key="index"></navigation-main-menu-item-drawer>
                    <navigation-main-menu-group-item-drawer v-bind:item="menuItem" v-if="menuItem.hasOwnProperty('submenuItems')" v-bind:key="index"></navigation-main-menu-group-item-drawer>
                </template>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar app dense v-if="loggedIn">
            <v-app-bar-nav-icon @click="sidebar = !sidebar"></v-app-bar-nav-icon>
            <v-toolbar-title>{{ appTitle }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon v-if="pageContentRefreshable" @click="emitRefreshContent">
                <v-icon>refresh</v-icon>
            </v-btn>
            <navigation-user-component v-bind:personalMenu="personalMenuItems"></navigation-user-component>
        </v-app-bar>

        <v-content>
            <router-view></router-view>
        </v-content>

        <error-popup ref="errorPopup"></error-popup>
        <v-snackbar></v-snackbar>
    </v-app>
</template>

<script>

    import { store } from '@/store/index';
    import UserService from '@/core/services/UserService';
    import NavigationMainMenuItemDrawer from '@/core/components/navigation/NavigationMainMenuItemDrawer.vue';
    import NavigationMainMenuGroupItemDrawer from '@/core/components/navigation/NavigationMainMenuGroupItemDrawer.vue';
    import NavigationUserComponent from '@/core/components/navigation/NavigationUserComponent.vue';
    import EventBus from '@/core/EventBus';
    import { Services } from '@/core/Services';

    Services.init();

    export default {
        data: function () {
            return {
                appTitle: 'PiDome',
                sidebar: false,
                menuItems: [
                    {title: 'Dashboard', icon: 'dashboard', path: "/dasboard"},
                    {title: 'Items', icon: 'touch_app', path: '/items'},
                    {title: 'Settings', icon: 'settings',
                        submenuItems: [
                            {title: 'Items', fa: true, icon: 'touch_app',
                                submenuItems: [
                                    {title: 'Settings', icon: 'touch_app', path: '/settings/items/settings'},
                                    {title: 'Discovery', fa: true, icon: 'plus', path: '/settings/items/discovery'},
                                    {title: 'Builders', fa: true, icon: 'wrench', path: '/settings/items/builders'}
                                ]},
                            {title: 'Modules', fa: true, icon: 'bezier-curve',
                                submenuItems: [
                                    {title: 'Active', fa: true, icon: 'bezier-curve', path: '/settings/modules/active'},
                                    {title: 'Add', fa: true, icon: 'plus', path: '/settings/modules/add'}
                                ]},
                            {title: 'Users', icon: 'group', path: '/users'},
                            {title: 'Hardware', fa: true, icon: 'microchip', path: '/settings/hardware'},
                            {title: 'Environment', icon: 'home',
                                submenuItems: [
                                    {title: 'Premises', fa: true, icon: 'door-open', path: '/settings/premises'}
                                ]}
                        ]},
                    {title: 'About', icon: 'question_answer', path: "/about"}
                ],
                personalMenuItems: [
                    {title: 'My info', icon: 'account_circle', path: "/users/me"},
                    {title: 'My mobiles', icon: 'phonelink_setup', path: "/mymobiles"}
                ],
                setDark: false,
                waitProgress: false
            };
        },
        methods: {
            emitRefreshContent(){
                EventBus.$emit('content', 'refresh.content');
            }
        },
        components: {
            NavigationMainMenuItemDrawer,
            NavigationMainMenuGroupItemDrawer,
            NavigationUserComponent
        },
        computed: {
            loggedIn() {
                return store.state.User.loggedIn;
            },
            pageContentRefreshable(){
                return store.state.Application.pageContentRefreshable;
            }
        },
        watch: {
            pageContentRefreshable() {
            }
        },
        mounted() {
            let self = this;
            this.$vuetify.theme.dark = store.state.Application.isCurrentlyDark;
            EventBus.$on('content.wait', (bWait) => {
                self.$data.waitProgress = bWait;
            });
        },
        created: function () {
            let followPath = '/';
            if (window.location.href.indexOf('#') !== -1) {
                followPath = window.location.href.split('#')[1];
            }
            UserService.validateToken(followPath);
        }
    }
</script>
