<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                    <v-toolbar dense dark color="primary">
                        <v-toolbar-title>PiDome login</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn text icon>
                            <v-icon v-if="hasBrowserInfo" @click="tokenDetailsDialog = true">info</v-icon>
                            <v-icon v-if="!hasBrowserInfo" color="warning" pulse-icon-notify>warning</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-text>
                        <v-form ref="form" autocomplete="off">
                            <v-layout row no-wrap>
                                <v-flex xs12>
                                    <v-btn icon @click="showServer = !showServer">
                                        <v-icon>{{ showServer ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                                    </v-btn>
                                    Modify server
                                </v-flex>
                            </v-layout>
                            <v-slide-y-transition>
                                <v-layout row no-wrap v-show="showServer">
                                    <v-flex xs7>
                                        <v-text-field
                                            prepend-icon="storage"
                                            name="apiHost"
                                            label="Server"
                                            type="text"
                                            v-model="apiHost"
                                            data-vv-name="PiDome server"
                                            data-vv-as="server"
                                            v-validate="'ip_or_fqdn|required'"
                                            :error-messages="errors.collect('apiHost')"
                                            prefix="https://"
                                            required></v-text-field>
                                    </v-flex>
                                    <v-flex xs2>
                                        <v-text-field
                                            name="port"
                                            label="Port"
                                            type="text"
                                            :mask="apiPortMask"
                                            v-model="apiPort"
                                            data-vv-name="apiPort"
                                            data-vv-as="port"
                                            v-validate="'required'"
                                            :error-messages="errors.collect('apiPort')"
                                            prefix=":"
                                            required
                                            hide-details></v-text-field>
                                    </v-flex>
                                    <v-flex xs3>
                                        <v-text-field
                                            name="url"
                                            label="Url"
                                            type="text"
                                            v-model="apiUrl"
                                            data-vv-name="apiUrl"
                                            prefix="/"
                                            v-validate="'required'"
                                            :error-messages="errors.collect('apiUrl')"
                                            data-vv-as="url"
                                            required
                                            hide-details></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-slide-y-transition>
                            <v-layout row no-wrap>
                                <v-flex xs12>
                                    <v-text-field
                                        prepend-icon="person"
                                        name="login"
                                        label="Username"
                                        type="text"
                                        v-validate="'required'"
                                        data-vv-as="username"
                                        v-model="username"
                                        :error-messages="errors.collect('login')"
                                        clearable
                                        v-on:keyup.enter="submitForm"
                                        required></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row no-wrap>
                                <v-flex xs12>
                                    <v-text-field
                                        prepend-icon="lock"
                                        name="password"
                                        label="Password"
                                        id="password"
                                        :append-icon="showPass ? 'visibility_off' : 'visibility'"
                                        :type="showPass ? 'text' : 'password'"
                                        @click:append="showPass =! showPass"
                                        v-validate="'required'"
                                        data-vv-as="password"
                                        v-model="password"
                                        :error-messages="errors.collect('password')"
                                        v-on:keyup.enter="submitForm"
                                        required></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-form>
                        <v-alert
                            :value="alert"
                            type="error"
                            transition="scale-transition">
                            Invalid login credentials.
                        </v-alert>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn type=submit color="primary" @click="submitForm">Login</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <v-dialog v-model="tokenDetailsDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Login session details</v-card-title>
                <v-container fuild grid-list-xs class="pt-0 pb-0">
                    <v-layout row wrap>
                        <v-flex xs3>
                            <v-container fuild grid-list-xs class="pt-0">
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <v-icon x-large>{{ browserInfoIcon }}</v-icon>
                                    </v-flex>
                                    <v-flex xs12 class="text-capitalize text-center">
                                        {{ browserInfo.deviceType }}
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-flex>
                        <v-flex xs9>
                            <v-container fluid grid-list-xs class="pt-0">
                                <v-layout row wrap>
                                    <v-flex xs3>
                                        OS
                                    </v-flex>
                                    <v-flex xs9>
                                        {{ browserInfo.osName }} ({{ browserInfo.osVersion }})
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap>
                                    <v-flex xs3>
                                        Using
                                    </v-flex>
                                    <v-flex xs9>
                                        {{ browserInfo.browserType }} - {{ browserInfo.browserName }} ({{ browserInfo.browserVersion }})
                                    </v-flex>
                                    <v-flex xs3>
                                        Ip address
                                    </v-flex>
                                    <v-flex xs9>
                                        {{ browserInfo.remoteIp }}
                                    </v-flex>
                                    <v-flex xs3>
                                        When
                                    </v-flex>
                                    <v-flex xs9>
                                        {{ new Date() | moment("dddd, MMMM Do YYYY H:mm:ss") }}
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-divider class="pt-0"></v-divider>
                <v-subheader class="pt-0 pb-0">Explanation</v-subheader>
                <v-card-text>
                    PiDome gathers the above information to help you to identify this login session.
                    If for whatever reason you want to revoke access from this location go to
                    your account connections page and revoke this login session.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="tokenDetailsDialog = false" color="primary">
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <password-change :showpasschange="showpasschange" @password-updated="passwordUpdated"></password-change>
    </v-container>
</template>

<script>
    import router from '@/core/router';
    import { store } from '@/store/index';
    import UserService from '@/core/services/UserService';
    import { HttpService } from '@/core/services/HttpService';
    import ChangePassword from './components/ChangePassword.vue';
    import PresentationPlatform from '@/core/helpers/PresentationPlatform.js';
    import { WebSocket } from '@/core/services/WebSocket';
    import EventBus from '@/core/EventBus';

    export default {
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                apiHost: HttpService.getHttpServer(),
                apiPort: HttpService.getHttpPort(),
                apiUrl: HttpService.getHttpEndpoint().substr(1),
                apiPortMask: '#####',
                showPass: false,
                username: '',
                password: '',
                alert: false,
                showpasschange: false,
                browserInfo: {},
                browserInfoIcon: '',
                hasBrowserInfo: true,
                tokenDetailsDialog: false,
                showServer: false
            };
        },
        components: {
            'password-change': ChangePassword
        },
        mounted: function () {
            try {
                if (store.state.User.loggedIn) {
                    router.push("/");
                } else {
                    UserService.identifyLocalResource().then(result => {
                        this.setBrowserInfo('browserType', result.browserType);
                        this.setBrowserInfo('deviceType', result.deviceType);
                        this.setBrowserInfo('browserName', result.browserName);
                        this.setBrowserInfo('browserVersion', result.browserVersion);
                        this.setBrowserInfo('osName', result.osName);
                        this.setBrowserInfo('osVersion', result.osVersion);
                        this.setBrowserInfo('remoteIp', result.remoteIp);
                    });
                }
            } catch (err) {
                this.$data.browserInfo = {};
            }
        },
        methods: {
            setBrowserInfo(name, value) {
                let presentationPlatform = new PresentationPlatform();
                try {
                    if(name === 'browserType'){
                        this.browserInfoIcon = presentationPlatform.icon(value);
                        this.$data.browserInfo[name] = value;
                    } else {
                        this.$data.browserInfo[name] = value;
                    }
                } catch (err) {
                    this.$data.browserInfo[name] = "Unknown";
                }
            },
            passwordUpdated(maybe) {
                if (maybe) {
                    this.$data.showpasschange = false;
                    store.dispatch('loginCompleted');
                    router.push('/');
                }
            },
            submitForm() {
                this.$validator.validateAll().then(result => {
                    if (!result) {
                        // do stuff if not valid.
                    } else {
                        EventBus.$emit('content.wait', true);
                        UserService.login(this.$data.apiHost,
                                this.$data.apiPort,
                                this.$data.apiUrl,
                                this.$data.username,
                                this.$data.password,
                                this.$data.browserInfo)
                                .then(loginResult => {
                                    if ({}.hasOwnProperty.call(loginResult, 'token')) {
                                        store.dispatch('login', {
                                            token: loginResult.token
                                        });
                                        UserService.getSelfUser().then(userResult => {
                                            store.dispatch('setUser', {
                                                user: userResult.data
                                            });
                                            if (userResult.data.initialLogin === true) {
                                                this.$data.showpasschange = true;
                                            } else {
                                                store.dispatch('loginCompleted');
                                                router.push('/');
                                                WebSocket.connect();
                                            }
                                        });
                                    } else {
                                        this.$root.$ErrorPopup.showError("Login result error", "Could not check login result: " + result);
                                    }
                                })
                                .catch(error => {
                                    if (error.response !== undefined) {
                                        if (error.response.status === 401) {
                                            this.$data.alert = true;
                                            var self = this;
                                            setTimeout(function () {
                                                self.$data.alert = false;
                                            }, 3000);
                                        }
                                    }
                                }).then(() => {
                        });
                    }
                });
            }
        }
    }
</script>
