<template>
    <v-dialog v-model="showloading" justify-center persistent content content-class="centered-dialog">
        <v-container fill-height>
            <v-layout align-center justify-center column fill-height>
                <orbit-spinner :animation-duration="1200" :size="55" :color="progressColor" />
                <h2 v-if="message != null" color="primay">{{message}}</h2>
            </v-layout>
        </v-container>
    </v-dialog>
</template>
<script>
    import OrbitSpinner from 'epic-spinners/src/components/lib/OrbitSpinner'
    export default {
        name: "loading-spinner",
        components: {
            OrbitSpinner
        },
        data: function () {
            return {}
        },
        props: {
            showloading: {
                type: Boolean,
                default: false
            },
            message: {
                type: String,
                default: "Please wait..."
            },
            progressColor: {
                type: String,
                default: '#FFFFFF'
            }
        }
    }
</script>

<style>
    .centered-dialog {
        width: auto;
        background: #282c2dad;
        box-shadow: none;
        border-radius: 6px;
        color: whitesmoke;
    }
</style>
