<template>
    <v-card class="ma-0 pd-0">
        <v-stepper editable v-model="configurationStep">
            <v-stepper-header>
                <v-stepper-step :complete="configurationStep > 1" step="1">Module</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step :complete="configurationStep > 2" step="2">Hardware</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="3">Review</v-stepper-step>
            </v-stepper-header>
            <v-card-title v-if="moduleConfiguration.moduleDefinition" class="pb-0">
                <div>
                    <h3 class="headline mb-0">{{ moduleConfiguration.moduleDefinition.name }}</h3>
                </div>
            </v-card-title>
            <v-stepper-items>

                <v-stepper-content step="1" class="ma-0 pa-0">
                    <v-card-text class="ma-0 mb-2 pd-0">
                        <div>No module configuration required.</div>
                    </v-card-text>
                </v-stepper-content>

                <v-stepper-content step="2" class="ma-0 pa-0">
                    <v-card-text class="ma-0 mb-2">
                        <template  v-if="peripheralList.length > 0">
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-select
                                        :items="peripheralList"
                                        label="Select peripheral"
                                        return-object
                                        item-text="name"
                                        item-value="key"
                                        :value="moduleConfiguration.peripheral"
                                        v-on:change="refreshDriversList"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12>
                                <v-select
                                        :items="driversList"
                                        label="Select driver"
                                        return-object
                                        item-text="name"
                                        item-value="id"
                                        :value="moduleConfiguration.driverDefinition"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                        <inputform :inputForm="moduleConfiguration.driverConfiguration" :editable="true"></inputform>
                        </template>
                        <template v-else>
                            <p>There is no eligible hardware present/attached for this module.</p>
                        </template>
                    </v-card-text>
                </v-stepper-content>

                <v-stepper-content step="3" class="ma-0 pa-0">
                    <v-card-text class="ma-0 mb-2">
                        Configuration done, press "Start and add" to have the module added.
                    </v-card-text>
                </v-stepper-content>

            </v-stepper-items>
        </v-stepper>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" @click="cancel()">Cancel</v-btn>
            <v-btn v-if="configurationStep > 1" color="secondary" @click="prevStep()">Previous step</v-btn>
            <v-btn v-if="configurationStep < 3" color="primary" @click="nextStep()">Next step</v-btn>
            <v-btn v-if="configurationStep == 3" color="primary" @click="startModule()" :disabled="peripheralList.length < 1">Start and add</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>

    import ModuleService from '@/core/services/ModuleService';
    import HardwareService from '@/core/services/HardwareService';
    import InputForm from '@/core/components/presentation/InputForm';
    import Router from '@/core/router/index';
    import EventBus from '@/core/EventBus';

    export default {
        name: 'ModuleAddComponent',
        props: [
            'configuration'
        ],
        components: {
            'inputform':InputForm
        },
        data() {
            return {
                configurationStep: 1,
                moduleConfiguration: {
                    moduleDefinition: Object,
                    moduleConfiguration: Object,
                    peripheral: Object,
                    driverDefinition: Object,
                    driverConfiguration: Object
                },
                peripheralList: [],
                defaultDriver: Object,
                driversList: []
            }
        },
        methods: {
            startModule(){
                let sendConfig = {
                    moduleId: this.$data.moduleConfiguration.moduleDefinition.id,
                    moduleConfiguration: this.$data.moduleConfiguration.moduleConfiguration,
                    peripheralKey: this.$data.moduleConfiguration.peripheral.key,
                    driverId: this.$data.moduleConfiguration.driverDefinition.id,
                    driverConfiguration: this.$data.moduleConfiguration.driverConfiguration
                };
                EventBus.$emit("content.wait", true);
                ModuleService.startModule(sendConfig).finally(() => {
                    EventBus.$emit('module-add-close', 'close');
                    Router.push('/settings/modules/active');
                });
            },
            nextStep(){
                this.$data.configurationStep++;
            },
            prevStep(){
                this.$data.configurationStep--;
            },
            cancel(){
                EventBus.$emit('module-add-close', 'close');
            },
            refreshDriversList(forPeripheral){
                if(forPeripheral !== undefined) {
                    let self = this;
                    let candidates = HardwareService.getCurrentHardwareDeviceDriverCandidates(forPeripheral.volatileId);
                    candidates.then(candidatesPromise => {
                        let candidatesData = candidatesPromise.data;
                        if (candidatesData != null && Object.keys(candidatesData).length > 0) {
                            for (let driver in candidatesData) {
                                self.$data.driversList.push(candidatesData[driver]);
                            }
                            self.constructForm(forPeripheral, self.$data.driversList[0]);
                        }
                    });
                }
            },
            constructForm(forPeripheral, driverDefinition){
                if(forPeripheral !== undefined) {
                    let self = this;
                    let result = HardwareService.getCurrentHardwareDeviceDriverSettings(forPeripheral.volatileId, driverDefinition.id);
                    result.then(promised => {
                        self.$data.moduleConfiguration.driverDefinition = driverDefinition;
                        self.$data.moduleConfiguration.driverConfiguration = promised.data;
                    });
                }
            }
        },
        watch: {
            configuration: function(newConfiguration){
                this.$data.configurationStep = 1;
                this.$data.moduleConfiguration.moduleDefinition= newConfiguration;
                let selfData = this.$data;
                let self = this;
                selfData.peripheralList = [];
                if({}.hasOwnProperty.call(newConfiguration, 'transportTarget')) {
                    HardwareService.getPeripheralTransportFilteredList(newConfiguration.transportTarget, newConfiguration.targets).then(candidatesPromise => {
                        for(let index in candidatesPromise){
                            if(!candidatesPromise[index].active){
                                selfData.peripheralList.push(candidatesPromise[index]);
                            }
                        }
                        if(selfData.peripheralList.length > 0) {
                            selfData.moduleConfiguration.peripheral = selfData.peripheralList[0];
                            self.refreshDriversList(selfData.moduleConfiguration.peripheral);
                        }
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>
