<template>
    <v-form ref="composedDeviceForm">
        <v-container class="pt-5">
            <v-card>
                <div class="float-right mr-1 mt-1">
                    <v-btn icon large @click="createInfoDialog = true">
                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                    </v-btn>
                </div>
                <v-card-title>Add / Edit device definition</v-card-title>
                <v-card-subtitle>Create a device definition to use.</v-card-subtitle>
                <v-list subheader flat>
                    <v-subheader>General</v-subheader>
                    <v-list-item>
                        <v-list-item-content>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field label="Type name"
                                                  name="typeName"
                                                  v-validate="'required'"
                                                  data-vv-as="type name"
                                                  v-model="formData['typeName']"
                                                  :error-messages="errors.collect('typeName')"
                                                  clearable
                                    required></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field label="Type description"
                                                  v-model="formData['typeDescription']"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list subheader flat>
                    <v-subheader>Select controls to be included</v-subheader>
                    <template v-for="(group, groupIndex) in controlSet">
                    <v-list-item v-bind:key="groupIndex" :ripple="null">
                        <v-list-item-subtitle>{{ group.group.title }}</v-list-item-subtitle>
                    </v-list-item>
                    <v-list-item-group multiple v-for="(controls, controlIndex) in group.controls" v-bind:key="controlIndex" >
                        <v-list-item :ripple="false">
                            <template v-if="controls.length > 1">
                                <v-radio-group class="radio-group-full-width" :name="controlIndex" :mandatory="false" v-model="formData['controls'][group.group.id + '|' + controlIndex]">
                                    <v-expansion-panels v-for="(control, controlIndex) in controls" v-bind:key="'accord-' + controlIndex">
                                        <v-expansion-panel>
                                            <v-expansion-panel-header>
                                                <v-radio :label="control.description"
                                                         :value="control" @click.native.stop/>
                                            </v-expansion-panel-header>
                                            <v-expansion-panel-content>
                                                <ControlsConfigurator v-bind:key="controlIndex + 100" :control="control"
                                                                      :controlOptions="builderData.controlOptions[control.controlType]"
                                                                      :formData="formData" />
                                            </v-expansion-panel-content>
                                        </v-expansion-panel>
                                    </v-expansion-panels>
                                </v-radio-group>
                            </template>
                            <template v-if="controls.length === 1">
                                <v-expansion-panels>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header class="pt-0 pb-0">
                                            <v-checkbox color="primary"
                                                        v-model="formData['controls'][group.group.id + '|' + controlIndex]"
                                                        :value="controls[0]"
                                                        :label="controls[0].description"
                                                        dense @click.native.stop />
                                        </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <ControlsConfigurator :control="controls[0]" :controlOptions="builderData.controlOptions[controls[0].controlType]"
                                                                  :formData="formData" :group="group.group.id" />
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </template>
                        </v-list-item>
                    </v-list-item-group>
                    </template>
                </v-list>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn>Cancel</v-btn>
                    <v-btn color="primary" @click="createComposedDevice">
                        Create
                    </v-btn>
                </v-card-actions>
            </v-card>
            <v-dialog v-model="createInfoDialog" max-width="500" :scrollable="true">
                <v-card>
                    <v-card-title>Create definition</v-card-title>
                    <v-card-text>
                        <p>In the device definition creation/modification screen you modify a device's structure and configure which controls a device configuration has.</p>
                        <p>Sometimes it's not known what kind of control needs to be used to correctly apply the correct actions or visualizations. This then needs to be configured
                        before you are able to use a device.</p>
                        <p>A good example are devices from the manufacturer KlikAanKlikUit. This manufacturer sells devices which both do the exact same thing, but have different
                        ways to initiate this. KlikAanKlikUit devices can be turned on and of with a remote, but also with a motion sensor. Both the motion sensor and remote use
                        the exact same signal to do this. Because they are exactly the same, we don't know if a remote, or a motion or a door open/close sensor is sending this signal.<br/>
                        With KlikAanKlikUit devices when discovered, PiDome offers you the option to select a switch, which then would be a remote, or a motion sensor control to be shown.</p>
                        <p>More device work like this, so you will probably see this screen quite often.</p>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="createInfoDialog = false">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-container>
    </v-form>
</template>

<script>
    import ControlsConfigurator from "./ControlsConfigurator";

    export default {
        $_veeValidate: {
            validator: 'new'
        },
        name: "ComposedDeviceBuilder",
        props: ['builderData'],
        data () {
            return {
                typeName: '',
                controlSet: [],
                buildSet: [],
                selectedControls: [],
                createInfoDialog: false,
                formData: {'controls' : {}},
                dialog: false
            }
        },
        components: {
            ControlsConfigurator
        },
        mounted(){
            /// We re-arrange the grouping so we are 100% sure controls are grouped together by their group id, so we know when to do a radio (one control id can exist in a group).
            let intermediateSet = [];
            let groups = this.$props.builderData.groups;
            for(let group in groups){
                if (!{}.hasOwnProperty.call(intermediateSet, groups[group].id)) {
                    intermediateSet[groups[group].id] = {'group': {}, 'controls': {}};
                    intermediateSet[groups[group].id]['group'] = groups[group];
                }
                let controls = groups[group].controls;
                for(let control in controls){
                    if (!{}.hasOwnProperty.call(intermediateSet[groups[group].id]['controls'], controls[control].id)) {
                        intermediateSet[groups[group].id]['controls'][controls[control].id] = [];
                    }
                    intermediateSet[groups[group].id]['controls'][controls[control].id].push(controls[control]);
                }
                intermediateSet[groups[group].id]['group']['controls'] = undefined;
            }
            /// We now now which controls are unique and which are to be selected.
            for(let data in intermediateSet){
                this.$data.controlSet.push(intermediateSet[data]);
            }
        },
        methods: {
            createComposedDevice(){
                let self = this;
                this.$validator.validateAll().then(result => {
                    if(result){
                        let intermediateGroup = {};
                        self.$data.formData['groups'] = [];
                        let controlsSet = self.$data.formData.controls;
                        for(let index in controlsSet){
                            let groupId = index.split('|')[0];
                            let controlId = index.split('|')[1];
                            if(!{}.hasOwnProperty.call(intermediateGroup, groupId)) {
                                intermediateGroup[groupId] = [];
                            }
                            controlsSet[index].id = controlId;
                            controlsSet[index].valueData = undefined;
                            controlsSet[index].value = undefined;
                            controlsSet[index].controlStatus = undefined;
                            intermediateGroup[groupId].push(controlsSet[index]);
                        }
                        for(let groupId in intermediateGroup){
                            self.$data.formData.groups.push({id: groupId, controls: intermediateGroup[groupId]});
                        }
                        this.$emit('onSave', self.$data.formData);
                    }
                });
            }
        }
    }
</script>

<style scoped>
    .radio-group-full-width {
        min-width: 100%
    }
    .radio-group-full-width >>>.v-input__control {
        min-width: 100%
    }
</style>
