<template>
    <div>
        <v-layout v-for="(controlOption, index) in controlOptions" v-bind:key="index">
            <v-flex>
                <v-text-field v-if="controlOption.dataType=='STRING'"
                    :label="controlOption.label"
                    :hint="controlOption.description"
                    :value="(control[index] != null && control[index] != undefined) ? control[index] : ''"
                    v-model="control[index]"
                    clearable
                    required />
                <v-select v-if="controlOption.dataType=='LIST'"
                          :items="controlOption.listValues"
                          :hint="controlOption.description"
                          :label="controlOption.label"
                          :value="(control[index] != null && control[index] != undefined) ? control[index] : controlOption.listValues[0].value"
                          v-model="control[index]"
                          item-text="name"
                          :multiple="false"
                          item-value="value"></v-select>
                <v-select v-if="controlOption.dataType=='BOOLEAN'"
                          :items="[{name:'Yes', value:true},{name:'No', value: false}]"
                          :value="(control.value != null && control.value != undefined) ? control.value : false"
                          :hint="controlOption.description"
                          :label="controlOption.label"
                          v-model="control[index]"
                          :multiple="false"
                          item-text="name"
                          item-value="value"></v-select>
                <v-text-field v-if="controlOption.dataType=='DOUBLE'"
                              :label="controlOption.label"
                              :hint="controlOption.description"
                              :value="(control[index] != null && control[index] != undefined) ? control[index] : null"
                              v-model="control[index]"
                              clearable
                              type="number" />
            </v-flex>
        </v-layout>
    </div>
</template>

<script>

    export default {
        name: "ControlsConfigurator",
        props: ['control', 'controlOptions', 'formData', 'group'],
        data: () => ({
            intermediateData: []
        }),
        methods: {
            updateControl(item){
                console.log(item);
                console.log(this.intermediateData);
            }
        },
        beforeMount() {
            for(let item in this.$props.control){
                this.intermediateData[item] = undefined;
            }
        }
    }
</script>

<style scoped>

</style>
