<template>
    <v-list>
        <v-subheader>{{ group.title }}</v-subheader>
        <template v-for="(control, index) in group.controls">
            <v-list-item v-bind:key="index">
                {{ control.name }}
            </v-list-item>
        </template>
    </v-list>
</template>

<script>
    export default {
        name: "DeviceProvidedGroupBuilder",
        props: ['group']
    }
</script>

<style scoped>

</style>
