<template>
    <v-layout no-wrap class="d-xs-none d-sm-flex" pt-5 px-5>
        <v-flex sm3 fill-height>
            <v-card>
                <template v-if="builderConfiguration.builderType === 'PROVIDED'">
                    <v-card-title>Available components</v-card-title>
                    <v-divider />
                    <template v-for="(group, index) in builderConfiguration.groups">
                        <DeviceProvidedGroupBuilder v-bind:key="index" :group="group" />
                    </template>
                </template>
            </v-card>
        </v-flex>
        <v-flex sm9 pl-3>
            <v-card>
                <v-card-title>Device builder</v-card-title>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "UserDeviceBuilder"
    }
</script>

<style scoped>

</style>
