<template>
    <v-tabs dark horizontal>
        <v-tab>
            User
        </v-tab>
        <v-tab>
            Connections
        </v-tab>
        <v-tab>
            Settings
        </v-tab>
            <v-tab-item eager>
                <user-details-edit :newUser="newUser" :userData="userData"></user-details-edit>
            </v-tab-item>
            <v-tab-item eager>
                <user-details-connections-editor :newUser="newUser" :userData="userData"></user-details-connections-editor>
            </v-tab-item>
            <v-tab-item eager>
                <user-details-settings-editor :newUser="newUser" :userData="userData"></user-details-settings-editor>
            </v-tab-item>
    </v-tabs>
</template>

<script>
    import UserDetailsEditor from './components/UserDetailsEditor.vue';
    import UserDetailsConnectionsEditor from './components/UserDetailsConnectionsEditor.vue';
    import UserDetailsSettingsEditor from './components/UserDetailsSettingsEditor.vue';
    import UserService from '@/core/services/UserService';
    import { store } from '@/store/index';
    export default {
        data() {
            return {
                userData: UserService.getDefaultEmptyUser(),
                newUser: false
            };
        },
        components: {
            'user-details-edit': UserDetailsEditor,
            'user-details-connections-editor': UserDetailsConnectionsEditor,
            'user-details-settings-editor': UserDetailsSettingsEditor
        },
        mounted() {
            let me = this;
            UserService.getMe().then(function () {
                me.$data.userData = store.state.User.user.user;
            });
        },
        methods: {
            setIsMobile() {
                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                    case 'sm':
                        this.$data.isMobile = true;
                        break;
                    default:
                        this.$data.isMobile = false;
                        break;
                }
            }
        }
    }
</script>
