<template>
    <v-container fill-height fluid class="pa-0">
        <v-layout v-if="!isMobile">
            <v-flex md2>
                <user-list @userlist-user-clicked="initUserLoad"></user-list>
            </v-flex>
            <v-divider vertical></v-divider>
            <v-flex md10>
                <user-editor :userData="loadedUser"></user-editor>
            </v-flex>
        </v-layout>
        <v-layout v-if="isMobile">
            <v-flex xs12>
                <user-list @userlist-user-clicked="initUserLoad"></user-list>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import UserList from './components/UserList.vue';
    import UserEditor from './components/UserEditor.vue';
    import UserService from '@/core/services/UserService';
    import router from '@/core/router';

    export default {
        data() {
            return {
                isMobile: false,
                loadedUser: UserService.getDefaultEmptyUser()
            };
        },
        components: {
            UserList,
            UserEditor
        },
        beforeRouteUpdate(to, from, next) {
            this.loadUser(to.params.userId);
            next();
        },
        beforeMount: function () {
            this.setIsMobile();
            if (this.$route.params.userId !== undefined) {
                this.loadUser(this.$route.params.userId);
            }
        },
        methods: {
            initUserLoad(userId) {
                router.push({path: `/users/${userId}`});
                this.loadUser(userId);
            },
            loadUser(userId) {
                let me = this;
                UserService.getUser(userId).then(result => {
                    me.$data.loadedUser = result;
                });
            },
            setIsMobile() {
                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                    case 'sm':
                        this.$data.isMobile = true;
                        break;
                    default:
                        this.$data.isMobile = false;
                        break;
                }
            }
        }
    }
</script>
