<template>
    <div>
        <v-layout no-wrap v-if="editable">
            <v-flex xs12>
                <v-select
                        :items="fieldData.elements"
                        :label="fieldData.label"
                        return-object
                        item-text="label"
                        item-value="name"
                        :value="fieldData.defaultValue"
                        v-on:input="fieldData.value = $event"
                ></v-select>
            </v-flex>
        </v-layout>
        <v-layout wrap v-if="!editable">
            <v-flex xs5>
                {{ fieldData.label }}
            </v-flex>
            <v-flex xs7>
                {{ fieldData.value.label }}
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        name: "SelectField",
        data() {
            return {
                sortedData: Object
            };
        },
        props: {
            editable: Boolean,
            fieldData: Object
        },
        methods: {
            updateValue(newValueEvent){
                this.$props.fieldData.value = newValueEvent
            }
        },
        beforeMount() {
            if(this.$props.fieldData.defaultValue != null){
                this.updateValue(this.$props.fieldData.defaultValue);
                this.$props.fieldData.elements.sort( function(item1, item2) { return item1.label.toLowerCase().localeCompare(item2.label, undefined, { sensitivity: 'base',numeric: true }); } );
            }
        }
    }
</script>
