<template>
    <v-layout wrap>
        <v-flex xs5>
            {{ fieldData.label }}
        </v-flex>
        <v-flex xs7>
            {{ fieldData.value != null ? fieldData.value : 'Unknown' }}
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "TextField",
        props: {
            editable: Boolean,
            fieldData: Object
        }
    }
</script>

<style scoped>

</style>
